[2013-11-08 11:33] elen4 opened #2 "option "install with rpath" would be useful"
this option appears (with different name, and maybe different behaviour, I haven't checked) in both yarp and icub repositories

[2013-11-08 11:49] elen4 opened #3 "option "compile position independent code" could be useful"
to enable fPIC option on gcc also when building static libraries, so that they can be linked by other shared libraries. I am not sure if/when this is useful, but as this behaviour (always compile PIC) is in place in the icub repository, we should "regulate" it

[2013-11-20 17:15] drdanz opened #4 "Easy way to pass build flags for projects"
At the moment the build flags are in the BuildXXX.cmake file.
This is not good because:
1. Different projects might use different build flags for the XXX subproject
2. Different users might want to build with different flags.

There should be a way to set the flags for single projects but still have reasonable defaults

[2013-11-21 11:02] drdanz opened #5 "Easy way to checkout one certain tag or branch"
At the moment the branch or the tag is set in the BuildXXX.cmake file.
This is not good because:
1. Different projects might use different tags or branches for the XXX subproject
2. Developers might want to test a certain branch

There should be a way to set the tag/branch for single projects but still have a default

[2013-11-21 11:04] drdanz opened #6 "Easy way to pass repo address for projects"
At the moment the repo address/fork is set in the BuildXXX.cmake file.
This is not good because developers might want to from a fork of the repository or from a local clone

There should be a way to set the tag/branch for single projects but still have a default

[2013-11-25 13:45] drdanz opened #7 "Make dox target"
It would be useful to have a module for adding a target to generate doxygen documentation

[2013-11-26 18:02] drdanz opened #8 "Optional repositories"
Not all the packages are necessarily required, one should be allowed to add some repo as optional and the user should have an option to enable/disable it

[2013-11-26 18:03] drdanz opened #9 "FeatureSummary like summary"
There should be some macro to print out the whole list of the packages being built.

[2013-12-06 11:28] drdanz opened #10 "YCMConfigVersion broken with CMake 2.8.7"
Using CMake 2.8.7,

[code]

The YCMConfigVersion.cmake contains:

[code]

According to http://www.cmake.org/Bug/view.php?id=13241 should be fixed in CMake 2.8.9

[2013-12-13 17:33] drdanz opened #11 "Build only command"
There is a `find_or_build_package` command but it would be useful also a `build_packages` command to force build

[2014-01-28 08:26] drdanz opened #12 "Files in CMakeTmp disappear"
Sometimes files in CMakeTmp disappear, and therefore the build fails.

[2014-01-30 13:04] drdanz opened #13 "Split find_or_build_package in find_or_build_package and build_package"
It would be useful to be able to use build_package(Foo) for a package that should be built only.

[2014-01-30 13:07] #13 closed, assigned to drdanz

[2014-01-30 22:51] lornat75 opened #14 "Improve report about missing/found packages following system inspection"
I think we need to improve report messages following system inspection are a bit confusing, i.e. the difference between RECOMMENDED, OPTIONAL and MANDATORY

[2014-01-30 22:56] lornat75 opened #15 "make sure compilation can be successful"
When dependencies that are not part of the build are not found, cmake should return a clear warning/error so that the user knows that compilation will not be successful and he needs to manually install the package

[2014-01-30 22:57] lornat75 opened #16 "Check how things work on Windows :)"

[2014-01-31 10:10] drdanz opened #17 "Unit tests for sub-project in CDash"
Find out if it is possible to have the unit tests for each superbuild-subproject in the corresponding subproject in CDash

[2014-01-31 10:12] drdanz opened #18 "make install"
Figure out how to handle "make install" in superprojects

[2014-01-31 13:33] drdanz opened #19 "Platform dependent packages"
There should be a way to skip building some packages on certain platforms. For example one package could not be necessary or might not build properly on windows.

[2014-02-03 15:38] drdanz opened #20 "Add CMake variable for making a repo not managed by the superbuild"
In order to prevent the superbuild to mess up with the repository you are developing, it would be useful to have an UNMANAGED flag to ycm_ep_helper that removes the "UPDATE_COMMAND", so that the repository is downloaded, but never updated

[2014-02-13 15:31] #12 closed, assigned to drdanz

[2014-02-13 15:52] drdanz opened #21 "CMAKE_PREFIX_PATH Environment Variable Hell"
if the environment variable CMAKE_PREFIX_PATH (or the variable PATH) point to ${CMAKE_BINARY_DIR}/install subdirectory, the superbuild will build the package the first time, but then, on the next run find_package will find the package installed by the superbuild itself, and therefore it will not try to build it.

This variable is necessary for finding packages installed by the superbuild, when bui

[2014-02-19 10:55] #21 closed, assigned to drdanz

[2014-02-19 10:58] drdanz opened #22 "Pass new flags to existing builds"
When new configure flags are added to BuildXXX.cmake files in CMAKE_CACHE_ARGS, these are not automatically passed to existing builds.

[2014-03-20 22:38] #4 closed, assigned to drdanz

[2014-03-20 22:38] #5 closed, assigned to drdanz

[2014-03-20 22:38] #6 closed, assigned to drdanz

[2014-04-15 08:33] francesco-romano opened #24 "[superbuild] Xcode project generator"
Using Unix Makefile generator I managed to build successfully CoDyCo-superbuild.

Using Xcode generator I cannot build it.
The error is:

[2014-04-16 10:48] #24 closed, assigned to drdanz

[2014-05-21 10:53] traversaro opened #25 "Add FindEigen3.cmake to find-modules"
Currently we are duplicating the FindEigen3.cmake in a lot of different libraries/modules.
In most of this projects we copy this file: https://bitbucket.org/eigen/eigen/src/7cc9562ae54560f6b76155caa50fb3243b6dac6e/cmake/FindEigen3.cmake?at=default distributed in Eigen itself.
I don't know what is the best policy, but having a working FindEigen3.cmake in find-modules will simplify things for librar

[2014-05-21 15:31] drdanz opened #26 "Changes to code in external project are not detected"
The update step is no longer executed automatically and therefore the stamp files are not updated.

[2014-05-21 15:39] drdanz opened #27 "dist-clean target"
Sometimes it would be useful to have a target that deletes also the sources, in order to restart start in a completely clean environment

[2014-05-21 15:43] drdanz opened #28 "Clean targets that deletes cmake files for subproject"
Currently the <proj>-clean targets execute make clean in the subfolders.
It would be useful to have a <proj>-very_clean (or maybe we can find a better name) target for subprojects that removes all cmake files and the build folder, so that the project is rebuilt from scratch

[2014-05-21 15:49] drdanz opened #29 "Call uninstall target before install"
In some cases it would be nice to have "make uninstall" called before "make install" (or better even before update and build steps). This would allow to have a clean situation before the installation and would avoid to have files that are no longer installed in the install directory.

An example of issue caused by not running uninstall before install is this: robotology/yarp#159

[2014-05-21 15:50] drdanz opened #30 "re-install target"
A target to remove the install folder and re-run make install for every subproject could be useful to be sure to work in a clean environment.

[2014-05-21 15:56] drdanz opened #31 "DEVEL_MODE"
For every new target added, the superbuild becomes more cluttered and "make help" makes it difficult to find the make target that you need.

I think it would be good to have a CMake variable like `YCM_<PROJ>_DEVEL_MODE` off by default, and that can be activated for each subproject by the developers, depending on the project they work on, and enable the "developer" targets only for the requested pr

[2014-05-21 16:01] drdanz opened #32 "Edit_cache target"
In some cases it would be useful for cmake subprojects to have a `<proj>-edit_cache` target that runs `make edit_cache` for that subproject, allowing to modify cmake cached variables.

[2014-05-21 16:15] drdanz opened #33 "Licenses are missing"
On some files the license is not clearly stated.
Also a general license for the whole package was not chosen, I would like to use 3-clause BSD (same as CMake), that will make it easier to get the modules merged in CMake. @lornat75 do you have any opinion on this?

[2014-05-21 17:12] drdanz opened #34 "Snapshot support"
It would be useful to have a generic support for "snapshots".
Each demo could be a snapshot and should have a CMake file with the `TAG`s for each subproject.

This should allow to have just one superbuild repo, that has the ability to build all the demos at exactly the tag/commit requested.

[2014-05-21 17:20] #9 closed, assigned to drdanz

[2014-05-21 17:36] drdanz opened #35 "Issue with package using CMake Package Cache"
Some packages use `export(PACKAGE <pkg>)` that installs some files in `~/.cmake/packages/<pkg>` that are used by cmake to locate the build directory for some packages.
This messes up with the superbuild, because CMake will find the build directory, and therefore will not rebuild the package.
At the moment we are disabling the package registry using `NO_CMAKE_PACKAGE_REGISTRY` in all the find_packa

[2014-05-21 17:43] drdanz opened #36 "CMakeParseArguments patch not accepted in CMake"
The patch for handling empty arguments in `CMakeParseArguments` was not accepted, because this module is going to be changed in a command, and this feature should be included see http://thread.gmane.org/gmane.comp.programming.tools.cmake.devel/8546

Nonetheless we require this patch in YCMEPHelper, therefore we cannot drop it. Also when the command will be implemented in cmake, it will still be re

[2014-05-21 17:55] drdanz opened #37 "Import files using new CMake comment style"
Since 3.0, CMake supports this syntax for comments in modules:

[code]

As time passes, more and more modules will use this syntax, and if we import one of these modules, older versions will not recognize this as a comment and will cause an error.

At the moment we are importing a modified `FindPkgConfig` in cmake-next/Modules due to this issue, but perhaps we should have some script to "correct"

[2014-05-21 18:05] drdanz opened #38 "Importing CMake modules with CMAKE_CURRENT_LIST_DIRECTORY"
Importing files from CMake git that include other files using `${CMAKE_CURRENT_LIST_DIRECTORY}` means that also these other files should be imported, otherwise the file will not be found

It would be nice to be able to patch this file on the fly when it is downloaded

[2014-05-21 18:07] drdanz opened #39 "Importing new files using CMAKE_ROOT"
Importing files from CMake git that include other files using ```${CMAKE_ROOT} means that these will always be included from CMake root directory. In order to modify the file included we need to patch these files (an example of issue caused by this is #10)

It would be nice to be able to patch this file on the fly when it is downloaded

[2014-05-21 18:17] drdanz opened #40 "Rename YCM"
The name YCM (YARP CMake Modules) does not make much sense anymore...
Initially it was supposed to contain the modules for "yarp and friends", but it is becoming more than this handling superbuilds, etc... I think we should find a better name.

There was some discussion some time ago, and a few names were proposed:
- [ ] CMazing
- [ ] CMeta

Any other suggestion?

[2014-05-21 18:20] drdanz opened #41 "Build ExternalProjects at configure time"
A nice thing about the bootstrap is that the YCM "External Project" is downloaded, configured and built at configure time (i.e. when cmake runs) instead of at build time like for the other project.
In some cases it would be nice to be able to do this for other modules as well.

[2014-05-21 18:32] drdanz opened #42 "Use git to checkout files instead of using the download url from github"
Instead of downloading the files from raw.githubusercontent.com, it might be possible to checkout only one file, see https://stackoverflow.com/questions/2466735/checkout-only-one-file-from-git

Requires `git` >= 1.7.9.5 and `tar`, so while the first might ok, the latter might be a problem on windows, we should test if it works

This could eventually also be a feature in IncludeUrl

[2014-05-21 20:09] traversaro opened #43 "Modification in subproject CMakeLists.txt does not reflect in superbuild"
A common work flow on traditional monolithic repository (that may seem stupid, but it is common at least for me and other users that I know) is to do a little modification in a sub project `CMakeLists.txt` (without staging or committing it) and then run `cmake .. && make` for checking the different output caused by this modification.

Apparently this is not possible in the superbuild, if this is t

[2014-05-22 08:50] #43 closed, assigned to drdanz

[2014-05-23 15:11] drdanz opened #44 "FindOrBuildPackage should check the version all the times"
- On the system you have version **1.0** of the package `X`
- Module `A` requires `X` version **1.0**
- Module `B` requires `X` version **1.0**
- Module `C` requires `X` version **2.0**
- Module `D` requires `X` version **1.0**

Assuming that the config files for package `X` are written properly, `CMakeLists.txt` will be something like this:

[code]

`Build{A,B,D}.cmake` will have a line:

[code]

[2014-05-23 16:11] traversaro opened #45 "BuildYARP contains exotic settings"
Apparenty the BuildYARP file contained in ycm (inherited by superbuild that are not including a BuildYARP file) is compiling yarp with some option that perhaps are not useful to the average user (for example Doxygen documentation generation).

[2014-05-26 15:00] drdanz opened #46 "Write documentation"

[2014-05-26 15:04] drdanz opened #47 "XML Auto-Generation for CDash Sub-projects"
CDash can handle subprojects, but requires that a file like this is submitted to the dashboard:

[code]

YCM should be able to generate it automatically

[2014-05-26 15:15] drdanz opened #48 "DOT files generation"
It would be nice to have an automatically generated DOT file with all the dependencies between the modules.
This would produce a nice graph to add to the documentation.

[2014-05-26 15:24] drdanz opened #49 "Automatically update CTestConfig.cmake"
In order to be able to have subprojects on the dashboard, CTestConfig.cmake must have a list of subprojects, and they must be in the right order, i.e. if project A depends on project B, then B must be before A.
This is the order that they are built, so if A is before B, then, since A needs B to be built, then B will be built first, but the result of the B build will end in the dashboard for the A

[2014-05-26 15:32] #35 closed, assigned to drdanz

[2014-05-26 15:33] #45 closed, assigned to drdanz

[2014-05-26 15:35] #20 closed, assigned to drdanz

[2014-05-26 16:13] drdanz opened #50 "Clean ExternalProject patch mess"
ExternalProject is a mess due to the number of patches and patches for the patches applied.
It would be nice if the patches were available as .diff in order to see what was actually applied, and to make it easier to port them to CMake, and to update from CMake

[2014-05-26 17:30] drdanz opened #51 "Add targets to make one component"
It would be nice to have targets like `make external` to make all the targets that have `COMPONENT external`

[2014-05-27 15:06] drdanz opened #52 "Verify if ycm_ep_helper can call automatically find_or_build_package for DEPENDS"
At the moment, BuildXXX.cmake files are like this:

[code]

We should verify if ycm_ep_helper can call automatically find_or_build_package for DEPENDS

[2014-05-30 16:15] drdanz opened #53 "Module files are copied in the build directory during configure"
Files are not copied in the build directory at build time, but at configure time. This means that if you modify a file and run make, if you are using the build directory from some other project, the files will not be updated.

[2014-05-30 17:07] #25 closed, assigned to drdanz

[2014-05-30 17:07] #26 closed, assigned to drdanz

[2014-05-30 17:07] #53 closed, assigned to drdanz

[2014-05-30 18:49] #32 closed, assigned to drdanz

[2014-06-06 12:19] drdanz opened #54 "Bootstrap does not accept a version parameter"
At the moment `YCMBootstrap` reads the `YCM_TAG` variable and downloads the requested tag if YCM was not found, but it does not search for a specific version, so if it finds a version minor than the required one, it will just assume that the version is correct.

It should instead do something like this:

[code]

[2014-06-20 09:28] drdanz opened #57 "Some variables should not be cached"
It does not make sense to let the user of a package choose whether he wants to use some modules, these variables should be available only to the developer who writes the package using YCM.

For example if he uses a deprecated module, he will have to set `YCM_USE_DEPRECATED` to `TRUE`, but it does not make sense to let the user change it to false, because the package will just not build.

The varia

[2014-06-20 09:34] drdanz opened #58 "Building YCM requires a network connection"
Building YCM requires a network connection.
This is not good for building packages on some distribution. We should find a way to include the files that should be downloaded with the release, so that CMake will not require to download them again at build time.

[2014-06-27 12:02] francesco-romano opened #59 "Hash problem on OS X"
I cloned the repository and tried to compile `YCM` but I get an hash check failed for FindPkgConfig.

The error is

[code]

I tried to download the file manually and I did a `sha1` checksum and it outputs `302904ddf27a8f8bf3ddb15717553b479df27c45`.

My configuration is OS X 10.9.3, Apple LLVM version 5.1 (clang-503.0.40) (based on LLVM 3.4svn), cmake version 3.0.0.

Generator is `Unix Makefile`, b

[2014-06-27 19:58] traversaro opened #60 "Use case: build already downloaded superbuild without network connection"
Probably related to https://github.com/robotology/ycm/issues/58 , but I open the issue to state the user case clearly.

If the user has an already downloaded superbuild repository, and wants to compile it off-line, the `make` or `make subproject` commands fail with the following error:

[code]

A typical example of this use case is if someone is programming while commuting on a train.

A workaroun

[2014-06-29 00:58] #47 closed, assigned to drdanz

[2014-06-29 01:01] #48 closed, assigned to drdanz

[2014-06-29 01:02] #49 closed, assigned to drdanz

[2014-07-04 12:11] #59 closed, assigned to drdanz

[2014-07-04 13:02] hu-yue opened #61 "Hash problem on Ubuntu 12.04 LTS"
Hi, I am having a similar problem to #59, but on Ubuntu 12.04 LTS.
The error is the following:

[code]

YCM is updated to the last version. And I am having this same problem on both my desktop PC (where it used to work) and my laptop (where it's not installed), both running 12.04 LTS.

[2014-07-04 17:33] #31 closed, assigned to drdanz

[2014-07-07 11:34] #33 closed, assigned to drdanz

[2014-07-10 16:47] #16 closed, assigned to drdanz

[2014-07-11 07:43] francesco-romano opened #63 "Xcode generator"
Some feedback on the Xcode generator.

This is what the Unix Makefile generator does:

[code]

This is what the Xcode generator does:

[code]

Now.. the content of the script file is

[code]

the content of the make file is

[code]

So if I read the file correctly the `all` execute the rule `modules-complete`, this in turn tries to execute the rule `ycm_install_modules_AddUninstallTarget_cmake-com

[2014-07-14 12:26] #61 closed, assigned to drdanz

[2014-07-17 14:15] #63 closed, assigned to drdanz

[2014-07-22 07:09] francesco-romano opened #64 "[superbuild] Add support for cloning repositories with SSH."
For  users who need only read-only access to the repositories handled by the superbuild, the use of `https` is enough.
I think that for users who need read-write access to the repositories, it would be better to clone them with `ssh`.

Is it already available as option?

[2014-07-23 12:52] #64 closed, assigned to drdanz

[2014-07-23 13:22] traversaro opened #66 "Unable to change CMAKE_BUILD_TYPE via subproject-edit_cache"
If I try to change the `CMAKE_BUILD_TYPE` via `subproject-edit_cache` target I am not able to save the configuration that I am setting. In particular, the following time that I build the `subproject-edit_cache` target the `CMAKE_BUILD_TYPE` option is not set, even if I had previously set it.

[2014-07-30 08:33] #46 closed, assigned to drdanz

[2014-07-30 12:46] drdanz opened #67 "Make repository "style" more flexible"
At the moment the styles are hardcoded inside YCMEPHelper.
It is possible to add new ones, but it is not documented and it is not much flexible.

It would be nice to have "Style" modules (one per style) that are included when needed and that contain the variables relative to one style.

[2014-08-07 12:14] traversaro opened #68 "Hash mismatch warning for IncludeUrl.cmake appears on Windows, but not on OS X/Linux"
Apparently there is an inconsistency while boostrapping YCM on the latest version of codyco-superbuild: on Windows we are getting an hash mismatch warning, on Linux/OS X no.

Linux build, without hash mismatch:
https://travis-ci.org/robotology/codyco-superbuild/jobs/31819500

OS X build, without hash mismatch:
https://travis-ci.org/robotology/codyco-superbuild/jobs/31819502

Windows build, with ha

[2014-08-07 12:43] traversaro opened #69 "Bootstrap failing with CMake 2.8.11 on Debian Wheezy"
YCM bootstrap (for codyco-superbuild) is failing on Debian Wheezy, with CMake 2.8.11 installed through the backports.
The complete cmake output is:

[code]

For the time being I am using the workaround of using a "local" version of YCM.

[2014-08-07 13:43] #58 closed, assigned to drdanz

[2014-08-07 14:56] #10 closed, assigned to drdanz

[2014-08-07 15:26] #69 closed, assigned to drdanz

[2014-08-20 22:14] traversaro opened #70 "Update commit of Eigen repository history for downloading FindEigen3.cmake"
A pull request for improving FindEigen3.cmake file available upstream from the Eigen repository has been accepted ( https://bitbucket.org/eigen/eigen/pull-request/76/findeigen3cmake-add-reading-hints-of-eigen ).

We should update the version of FindEigen3.cmake automatically downloaded by YCM to point to the new version available, in https://github.com/robotology/ycm/blob/07f14866cefb7e78564e37e7b

[2014-08-22 08:39] #70 closed, assigned to drdanz

[2014-09-12 08:06] drdanz opened #71 "CMake and Eigen repository address cannot be changed"
There should be a variable that allows to change cmake and 3rd party repositories addresses in order to be able to use a different clone (either local or remote)

[2014-10-16 08:28] traversaro opened #72 "`SUBPROJECT-edit_cache` target is not working anymore"
Output on Wheezy, CMake 2.8.11 of `make kdl_format_io-edit_cache`:

[code]

[2014-10-16 09:06] #72 closed, assigned to drdanz

[2014-11-07 13:05] francesco-romano opened #74 "Xcode generator. (Sub)project not regenerated from the main one"
I noticed a strange issue with Xcode 6.1 (but I cannot say if this wasn't happening on 5.1).
I modify a CMakeLists.txt of a subproject (e.g. libraries/paramHelp), I then call `cmake` on the main build directory, but the projects are not updated (in this case I added two files).
If instead I call `cmake` directly on the subproject the Xcode project is updated.

[2014-11-12 16:51] francesco-romano opened #75 "Amount of remote in repositories continue to grow"
The number of `remote` in my git repositories continue to grow:

[code]

It is quite annoying. What are the causes of this?

[2015-01-07 17:36] drdanz commented on #75
Sorry, I missed this...
When the remote changes (because you change the style or the address of the repository), ExternalProject does not just overwrite your origin, but makes a backup first, so that the user can recover it... How would you handle this?

[2015-01-07 18:18] francesco-romano commented on #75
I did not remember in changes of address...
I will try to take a look at it next time. If you want to close it I will reopen it if I notice it again

[2015-01-08 14:22] #75 closed

[2015-02-06 10:53] traversaro opened #77 "YCM bootstrapping is broken"
See: https://travis-ci.org/robotology/codyco-superbuild/jobs/49588395

cc @drdanz @EnricoMingo

[2015-02-06 10:55] drdanz commented on #77
Probably a network issue... I restarted the build.

[2015-02-06 10:57] traversaro commented on #77
We experienced the same issue on my local computer (codyco-superbuild) and on @EnricoMingo computer (walkman-superbuild).

[2015-02-06 11:26] traversaro commented on #77
Not it is working... @drdanz was right, probably just a network problem on the server side.

[2015-02-06 12:44] traversaro commented on #77
Now it is not working again. If I try  to make YCM I get this error:
[code]
Possibily there are some shortage on the CMake server? Which kind of servers are checked during YCM bootstrap?

[2015-02-06 12:45] drdanz commented on #77
Closing. Nothing I can do about... If you are worried about network issues, you can download and install YCM from outside the superbuild, but then you will have to update it manually...

[2015-02-06 12:48] #77 closed

[2015-02-06 12:51] drdanz commented on #77
@traversaro YCM builld is actually not "compiling" anything, but it downloads some updated files from CMake repository and from some third party repo (iirc only FindEigen).
Once the files are downloaded the first time they are not downloaded again, unless you delete the build directory, or the address of the file is changed (i.e. if a new version is required).

Requiring the network at build time

[2015-02-06 12:51] traversaro commented on #77
You are right. However this is seriously disrupting the workflow of people using the `codyco-superbuild`.
Until we find some time to fix issue https://github.com/robotology/ycm/issues/60 , I guess the temporary workaround we have to implement is to modify the codyco-superbuild installation guide to manually install YCM.

[2015-02-06 13:09] traversaro commented on #77
Just to clear things:

That's ok and makes sense. The thing seriously disrupting is that a `cmake.org` server outage can render a user of the `codyco-superbuild` unable to compile the superbuild, as described in https://github.com/robotology/ycm/issues/60 .

[2015-02-06 13:12] drdanz commented on #77
That's why we have offline packages for releases... see https://github.com/robotology/ycm/releases :wink:
Unfortunately we have only a 0.1.0 package for now...

[2015-02-20 09:20] drdanz commented on #2
@elen4 @francesco-romano do you think I can close this, or is something still missing? We have the [AddInstallRPATHSupport](https://github.com/robotology/ycm/blob/master/modules/AddInstallRPATHSupport.cmake) module now...

[2015-02-20 10:44] francesco-romano commented on #2
From the OS X side I think the basic functionalities are ready.
For problems we can always open new issues.

[2015-02-20 12:33] drdanz commented on #2
Ok, thanks! Closing this.

[2015-03-27 04:32] drdanz opened #79 "ycm_write_dot_file generates invalid .dot files"
`ycm_write_dot_file` generate invalid `.dot` files when the project or the components names contain the `-` character

[2015-05-29 10:10] paraschos opened #80 "Cannot configure YCM repository"
While trying to build the CoDyCo superbuild I got the following error during cmake

-- YCM not found. Bootstrapping it.
-- Downloading YCMEPHelper.cmake
-- Downloading YCMEPHelper.cmake - SUCCESS
-- Downloading CMakeParseArguments.cmake
-- Downloading CMakeParseArguments.cmake - SUCCESS
-- Downloading ExternalProject.cmake
-- Downloading ExternalProject.cmake - SUCCESS
-- Performing download step

[2015-05-29 11:15] drdanz commented on #80
Can you try again running ``cmake -DYCM_BOOTSTRAP_VERBOSE:BOOL=ON``?

[2015-05-29 11:19] paraschos commented on #80
Sure, here is output

-- Downloading ExternalProject.cmake - SUCCESS
-- Performing download step (git clone) for 'YCM'
-- Avoiding repeated git clone, repository already exists
-- Performing update step for 'YCM'
From https://github.com/robotology/ycm
 * branch            master     -> FETCH_HEAD
Current branch master is up to date.
-- Performing configure step for 'YCM'
Not searching for unused v

[2015-05-29 12:12] #80 closed

[2015-05-29 12:13] drdanz commented on #80
@paraschos should be fixed now, please let me know if it is not.

[2015-05-29 12:24] paraschos commented on #80
Cool, thx you!

[2015-06-10 13:07] traversaro opened #81 "Regression in ycm master in codyco-superbuild related to orocos_kdl"
The `codyco-superbuild` was failing with the recent versions of ycm giving this error when trying to compile `orocos_kdl` :
[code]

ref Travis Failed Build : https://travis-ci.org/robotology/codyco-superbuild/builds/66196847

A workaround of using YCM v0.1.1 for bootstrapping was commited in https://github.com/robotology/codyco-superbuild/commit/51fe03968f581b8dc6c862a6abbccd2166ade46e , but I hav

[2015-06-10 13:21] traversaro commented on #81
It is worth noting that `orocos_kdl` had a quite peculiar `Build***.cmake` file:
https://github.com/robotology/codyco-superbuild/blob/master/cmake/Buildorocos_kdl.cmake

[2015-06-17 08:02] traversaro commented on #81
The regression was also affecting the `iDynTree-superbuild`, a workaround was committed in https://github.com/robotology-playground/iDynTree-superbuild/commit/0b82c4a3eac1976c8bd75b5a791015ea02aa2b9a .
cc @pattacini

[2015-06-17 08:36] traversaro opened #82 "User feedback from using the superbuild on Windows"
cc @drdanz
## Configuring the git user is strictly necessary?

Currently for using any superbuild is necessary to set up a git user with the following commands:

[code]

This may be a confusing step, especially on Windows where users may be not so confident with the command line. Could it make sense to put the `NON_INTERACTIVE_BUILD` flag to ON?
## The summary messages at the end of the configurat

[2015-06-17 13:34] traversaro commented on #82
The following one is actually a bug, and a quite annoying one:
## The install target of the subprojects is not executed when launching the `ALL_BUILD` target of the superbuild
In *nix systems, the install target is executed everytime the "main" target is invoked.. in Windows (at least in Visual Studio 2010) the install is launched only if the subproject is actually compiled. This is a major annoya

[2015-06-17 13:36] traversaro commented on #82
## After one successful execution of the superbuild, if one tries to re-configure and re-generate the superbuild the superbuild find its own subprojects
In particular it finds the subprojects in their build directories. This is probably due to some arcane rule for find_package .

[2015-07-02 18:38] #79 closed

[2015-07-08 13:49] traversaro opened #83 "YCMDefaultDirs should be deprecated"
I recently cleanup up the cmake of iDynTree, and I simplified them a bit removing all references to the variable defined by `YCMDefaultDirs`. Apparently its use is also advocated in our examples (see https://github.com/tacman-fp7/template-pkg) but what aim does this module fulfill?

[2015-07-15 12:48] drdanz commented on #18
An option could be to configure projects with the right `CMAKE_INSTALL_PREFIX` and install them in the "install phase" using `DESTDIR="${CMAKE_BINARY_DIR}/install" make install`.
In this way it should be possible to use `make install` without `DESTDIR` to perform the real installation.

A minor issue will be that all the paths will change from ``${CMAKE_BINARY_DIR}/install`` to ``${CMAKE_BINARY_DI

[2015-07-15 13:25] traversaro commented on #18
I must say that in modifying the "install" directory from `${CMAKE_BINARY_DIR}/install` to `${CMAKE_BINARY_DIR}/install/${CMAKE_INSTALL_PREFIX}` would be a bit problematic in existing superbuilds. The superbuild is already an explosion of different directories that can be difficult for the users to get, installing stuff in `${CMAKE_BINARY_DIR}/install/usr/local` by default would complicate things

[2015-07-15 13:44] drdanz commented on #18
Agreed... Nonetheless it's the only method that I could find until now that will work with cmake and autotools.
We could eventually use a link

[2015-08-27 15:20] drdanz opened #84 "Synchronize YCM modules with YARP/iCub"
Some modules were updated in YCM and not ported back to YARP/iCub
Some modules were updated (and a few added) in YARP/iCub and not ported back to YCM,

[2015-10-14 08:21] drdanz commented on #40
I think we should at least rename the YCMEPHelper module

[2015-10-19 13:03] drdanz commented on #84
YARP and iCub modules synchronized.

[2015-10-19 13:03] #84 closed

[2015-10-19 13:08] drdanz commented on #40
Another possible renaming YCM -> RCM Robotology CMake Modules

[2015-10-19 13:16] drdanz opened #85 "find_or_build_dependency"
It could be useful a command that internally calls find_dependency (if CMake 3.0 or newer is used), find_package otherwise.

[2015-10-19 13:20] drdanz commented on #19
This makes no sense, it should be handled by the user. Closing

[2015-10-19 13:21] #19 closed

[2015-10-19 13:36] traversaro opened #86 "YCM Bootstrap failing on Windows (AppVeyor)"
At some point ~20 days ago, YCM Bootstrap has started failing on AppVeyor:
Last "working" (at least for the YCM Bootstrap) build : https://ci.appveyor.com/project/traversaro/codyco-superbuild/build/1.0.204
First "not working" build : https://ci.appveyor.com/project/traversaro/codyco-superbuild/build/1.0.205
Error is:
[code]

[2015-10-19 14:14] drdanz commented on #86
The log is not really useful... Can you enable `YCM_BOOTSTRAP_VERBOSE` on appveyor?

[2015-10-19 14:17] traversaro commented on #86
I will do it (by the way I just noticed that the failure was noticed also by YCM AppVeyor).

[2015-10-19 14:26] drdanz commented on #86
On YCM AppVeyor the issue is different, it was failing for an broken SSL certificate, then at some point the certificate was fixed, but meanwhile I merged the tests for the IncludeUrl module, that are not executed for some unknown reason.
Right now the SSL certificate should be ok, and the tests are not performed in bootstrap phase, therefore the issue is different.

[2015-10-20 09:38] liesrock opened #87 "BuildICUB.cmake set ENABLE_icubmod_canBus* ON"
In the master branch, BuildICUB.cmake set to ON all the CMAKE_CACHE_ARGS related with ENABLE_icubmod_canBus.
This causes compilation errors when you don't have can bus.

[2015-10-20 10:54] traversaro commented on #86
Tried on both `codyco-superbuild` and `iDynTree-superbuild` :

### `codyco-superbuild`
https://ci.appveyor.com/project/traversaro/codyco-superbuild/build/1.0.222
[code]

### `idyntree-superbuild`
https://ci.appveyor.com/project/traversaro/idyntree-superbuild/build/1.0.20
[code]

Perhaps it is issue in AppVeyor workers.

[2015-10-20 13:25] liesrock opened #88 "YCM should be generic, without default YCM_BUILD_MODULES"
In build-modules/CMakeLists.txt , in the variable YCM_BUILD_MODULES is specified a set of modules that will be build by default when we use YCM: ideally this set should be empty or at least ICUB should not be there, otherwise in the superbuild we will always have icub-main cloned and built, when making all.

[2015-10-21 23:11] drdanz commented on #42
Note: Instead of `tar`, we could use `cmake -E tar`

[2015-10-21 23:15] drdanz commented on #86
@traversaro I pushed a few changes to the build system and to the IncludeUrl module. Now instead of failing immediately, it tries to download the file up to 3 times.
I also changed the default download url for CMake modules from CMake gitweb to github, that from my tests seems to be more reliable.

YCM now builds correctly on [AppVeyor](https://ci.appveyor.com/project/drdanz/ycm/build/0.2.0.304),

[2015-10-22 08:52] drdanz commented on #40
YCM -> CMore - CMake Modules for Robotology E-something

[2015-10-22 09:01] drdanz commented on #74
Is this still a issue?

[2015-10-22 09:06] drdanz commented on #81
Related to CMake issue [#15118](https://cmake.org/Bug/view.php?id=15118)

[2015-10-22 09:19] drdanz commented on #87
Thanks, I will fix this.

[2015-10-22 09:25] drdanz commented on #88
This variable is just a list of build modules that are installed by YCM. These are not installed automatically, but will be used when you do `find_or_build_package(FOO)`.
he idea behind this is to have all the recipes in one common place, feel free to propose new modules to move here...

[2015-10-22 09:25] drdanz commented on #88
Closing, feel free to reopen if this answer does not satisfy you...

[2015-10-22 09:25] #88 closed

[2015-10-22 09:37] drdanz opened #89 "AddInstallRPATHSupport DEPENDS option should be like CMakeDependentOptions"
CMakeDependentOptions allows depend on several dependencies, for example:

[code]

This also allows one to pass the name of a variable instead of its value.

It would be really useful to have this also in CMakeDependentOptions

[2015-10-22 10:29] liesrock commented on #88
Ok thank you for the explanation.

[2015-10-22 10:41] #89 closed

[2015-10-22 12:00] #87 closed

[2015-10-22 15:35] barbalberto commented on #60
About installing YCM, you have to be careful of installing it again each time it gets updated. If using YCM inside a superbuild, it means that each time you do an update of the whole superbuild 'someone' should check if the YCM has changed and install it again.

[2015-10-26 17:31] traversaro commented on #86
Both fail for a error on SSL certificate:
* https://ci.appveyor.com/project/traversaro/codyco-superbuild/build/1.0.231
* https://ci.appveyor.com/project/traversaro/idyntree-superbuild/build/1.0.22

It is probably some AppVeyor specific problem...

[2015-10-27 13:17] drdanz commented on #81
After bisecting, I found out that this is the first bad commit: 349afbcda5db902e9ebe043bf49498681dac72c5

[2015-10-28 10:47] lornat75 commented on #81
:+1:  for bisection :)

[2015-10-28 14:12] drdanz commented on #81
Commit 5a62ec5be84135b8cb30d1f6d62ec7ca0e639e52 allows one to use CONFIGURE_SOURCE_DIR instead of using a custom configure command. Closing this.

[2015-10-28 14:12] #81 closed

[2015-10-28 14:25] drdanz commented on #86
Should be fixed now. Please reopen if it is not

[2015-10-28 14:25] #86 closed

[2015-11-02 08:44] traversaro commented on #81
Can we increase the patch version of YCM to detect if the used YCM is updated with this latest patch?
We rely on it in the codyco-superbuild and it would be great to check if the used YCM is too old. cc @francesco-romano

[2015-11-02 10:59] drdanz commented on #81
There is no need to increase the patch version, YCM_VERSION already contains all the information you need, and "0.2.0" is considered unstable until it is released. Unfortunately I just realized that `~` is not accepted by `find_package`.
Anyway if you really want to check for a specific patch, for now you can check using something like this:

[code]

I admit this is not really intuitive, I will tr

[2015-11-02 11:40] traversaro commented on #81
Ah ok, I understand. I will push the check that you are proposing, at least for the near future.

[2015-12-09 08:53] francesco-romano commented on #74
After 2 years of working with cmake I leaned that you have to specify the generator every time and not only the first time.  (or maybe this is a different introduced in newer versions of cmake).
I'll close this issue for now.

[2015-12-09 08:53] #74 closed

[2015-12-09 08:54] francesco-romano opened #90 "Warnings cleanup"
[code]

[2016-06-07 13:48] traversaro commented on #82
## It is not possible to interrupt the superbuild
Visual Studio wants to wait for existing custom command to finish before interrupting the superbuild.

[2016-06-07 13:50] drdanz commented on #18
Another possible solution would be to use `install(CODE)`, adding the actual install command. This would work with any install command.
The problem is that this would break the current workflow because installation would happen only in the `make install` phase.
Also it would require some trick to force the projects to find the relative dependencies, that are not installed during the `make` phase.

[2016-06-07 15:47] drdanz commented on #82
Yes, if the user does not set it, the update step will fail if any file is modified by the user. There is on purpose an explicit check right after checking if git is installed to avoid unreadable errors later.

Not an excuse, they can just configure it from tortoise git gui or from any other tool. If the user is not able to do it, he should probably give up on building the superbuild. Perhaps I co

[2016-06-07 15:57] traversaro commented on #82
Yes, that would definitely simplify. A link to some helper page like https://help.github.com/articles/setting-your-username-in-git/ or https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration could be also helpful, but I would be afraid to confuse the user even more. Currently I am just writing it down in the installation instructions:  https://github.com/robotology/codyco-superbuild#super

[2016-06-14 09:23] traversaro opened #93 ""No locks available." error while boostrapping a YCM superbuild"
While configuring the `codyco-superbuild` on the shared disk (NFS) of the new iCubGenova05 setup running Ubuntu 16.04 , I get this error:

[code]

Placing the build in the "normal" filesystem running ext4 solves the problem.
I guess the error is not directly related to ycm (probably the default configuration for the NFS server in Ubuntu 16.04 are different the lock server is not running by  defaul

[2016-06-15 07:55] mbrunettini commented on #93
@traversaro : can you explain hot to reproduce thi issue?
So I can make some tests on my own.
Thanks

[2016-06-15 08:21] traversaro commented on #93
On the `iCubGenova05` setup:
[code]

[2016-06-15 09:49] drdanz commented on #93
From `IncludeUrl.cmake` line 240

[code]

I'd say it that `file(LOCK)` was never tested on NFS.

The check on the CMake version explains why it was working before, but it fails on 16.04 that has CMake 3.5.1

[2016-06-15 15:29] traversaro commented on #93
For the time being I commented out all the `file(LOCK ...)` in the codyco-superbuild `IncludeUrl.cmake`, as I don't think that conflicts in downloading superbuild files are a real problem, while NFS compatibility is definitely a big requirement.

[2016-06-16 12:49] mbrunettini commented on #93
There are mainly two methods to lock a file:
- [flock](http://man7.org/linux/man-pages/man2/flock.2.html)
- [lockf](http://man7.org/linux/man-pages/man3/lockf.3.html)
While since Linux 2.6.12, NFS clients support flock(), lockf does not work over NFS.
See this [page](http://unix.stackexchange.com/questions/229675/nfs-file-locking-not-working-am-i-misunderstanding)

I don't know, which one cmake us

[2016-07-17 18:43] traversaro opened #95 "The install target of the subprojects is not executed when launching the ALL_BUILD target of the superbuild"
Spin off of https://github.com/robotology/ycm/issues/82#issuecomment-112800650

@traversaro wrote :

@drdanz replied :

This is something that should probably be fixed in `ExternalProject` and it is worth investigating

[2016-07-20 14:13] francesco-romano opened #96 "Failing to run `update-all` target for superbuild"
I am running an `update-all` target in my super build (codyco) and I have an error in one the projects (which is in a separate branch):

[code]

but if I manually go in the project:

[code]

[2016-07-20 14:56] traversaro commented on #96
The superbuild `update` target will always try to update your subproject with the latest changes of the branch to which the superbuild is pointing in the `Build<subProject>.cmake` file or in `<subProject>_TAG` CMake variable. (ping @drdanz for what the update target is actually doing).

If you want to keep a project locally on a different branch, please enable the `DEVEL` mode for that subproject,

[2016-07-28 13:19] drdanz commented on #96
If `<subProject>_TAG` is a tag or a commit, the `update` step performs a checkout of that commit, if it is a branch it performs a rebase over the branch specified, check if the `WBToolbox_TAG` is actually set to `inverseKinematics` or if it is something different.

[2016-08-04 08:08] #96 closed

[2016-09-09 09:28] traversaro commented on #82
It also seems that `YARP_DIR` define in the YARP binaries installers is not seen in the superbuild subprojects, even if it is seen by the superbuild.

[2016-09-28 13:45] traversaro opened #97 "CMake version is 3.5.1, you should update this"
https://github.com/robotology/ycm/blob/d4b68fb06f2ac72c24311072f1e433ac8cda654d/cmake-next/CMakeLists.txt#L242

[2016-10-03 09:02] #97 closed

[2016-11-14 16:58] traversaro opened #101 "YCM superbuild broken for CMake <= 3.4"
Note sure which one, but one of the recent commits related to bring stuff from newer CMake version broke superbuild for version of CMake older then 3.4, see:

https://travis-ci.org/robotology/idyntree-superbuild/jobs/162767692#L1345
[code]

cc @drdanz @kjyv

[2016-11-14 17:25] #101 closed

[2016-11-14 17:26] drdanz commented on #101
@traversaro Should be fixed, but I cannot say for sure until the builds are finished

[2016-11-17 12:50] drdanz commented on #81
@traversaro For reference, starting from 0.3.0, odd numbers will be the development releases (patch version number will represent a new feature) and even releases will be stable releases

[2016-11-17 14:46] drdanz opened #102 "IncludeUrl not accepted in cmake"
`IncludeUrl` module was not accepted in CMake (see https://cmake.org/pipermail/cmake-developers/2015-October/026661.html)

The original plan was that one day only `YCMBootstrap` should be included in each project, so the new option is now to download it from YCMBootstrap.

[2016-11-25 09:31] traversaro opened #103 "master branch and tag v0.2.1 / v0.2.0 of ycm not compiling"
Tested on macOS / Ubuntu .

[code]

To anyone having the same problem: use the offline version of ycm available at https://github.com/robotology/ycm/releases .

[2016-11-25 09:42] traversaro commented on #103
The new location of this file : https://gitlab.com/stuko/ovito/raw/8689fcb1fdd2e8dc748e76d54d3b77a3f87d384c/cmake/FindQCustomPlot.cmake .

[2016-11-25 10:07] traversaro opened #105 "Bootstrap with offline version?"
The bootstrap feature is quite cool, but it renders any superbuild vulnerable to any shortage of any 3rd party repo referenced by YCM (see https://github.com/robotology/ycm/issues/103).
Could it make sense to bootstrap using the offline version of YCM ?

[2016-11-25 10:15] #103 closed

[2016-11-25 10:19] traversaro opened #106 "Several problems with Ubuntu 14.04 (CMake 2.8.12) with latest YCM"
Saw them in the wild, now investigating them:
 * `cmake_parse_arguments` not found: workaround by removing the dummy `CMakeParseArguments.cmake` modules from CMake >= 3.5 backported in YCM.
* Something about a file not installed, investigating now.

[2016-11-25 10:26] drdanz commented on #105
I need to think about this... The idea of the bootstrap phase is that together with the other repositories you can manage also YCM git repository.

On the other hand it makes sense to not make it break in case some repository is not reachable or changes location...

[2016-11-25 10:31] traversaro commented on #106
The second problem is the one that you get as soon as you try to run cmake on ycm repo master :+1:
[code]

I wonder why Travis is not catching this.

[2016-11-25 10:44] traversaro commented on #106
Probably the problem is that on Travis we pass `-DYCM_MAINTAINER_MODE=ON`.

[2016-11-25 10:50] liesrock opened #108 "file DOWNLOAD HASH mismatch error"
In the robotology-superbuild we are having a problem related with file DOWNLOAD HASH mismatch, here the details:

- Downloading CMakeParseArguments.cmake - Attempt 1 of 3
CMake Error at cmake/IncludeUrl.cmake:281 (file):
  file DOWNLOAD HASH mismatch

    for file: [/home/lucamuratore/test-superbuild/build/CMakeFiles/CMakeParseArguments.cmake]
      expected hash: [0c4d3f7ed248145cbeb67cbd6fd7190b

[2016-11-25 10:56] drdanz commented on #106
How is this possible, I spent one afternoon fixing CMakeParseArguments`on Ubuntu 14.04! It is supposed to copy the version in the v3.4.3 folder in all the folders where it is needed, can you check which one is wrong?

[2016-11-25 11:10] traversaro commented on #108
Mhh.. there is a way to reproduce the issue? I guess with Ubuntu 14.04 + CMake 3.5 built from source?

[2016-11-25 12:14] liesrock commented on #108
It is both 16.04 + default CMake 3.5 and 14.04 + CMake 3.5 binaries.
if you just
[code]
You can see the error.

[2016-11-25 12:39] traversaro commented on #106
Mhh, I am unable to reproduce the first issue after fixing the second one. Closing.

[2016-11-25 12:39] #106 closed

[2016-11-25 12:56] traversaro commented on #108
I get it, it happens in all *newly* create build directories.
I added some info to the error:
[code]

[2016-11-25 13:03] traversaro commented on #108
The problem is this recent commit: https://github.com/robotology/ycm/commit/8275d2e42605c0cee9d1573249879bd51f8773d4 that changed the location of `cmake-next/Modules/CMakeParseArguments.cmake` to   various version-specific location. I thin that for CMake 3.5 the easiest fix is to avoid donwload that file, given that is not necessary, but I have to understand where this information is encoded.

[2016-11-25 13:05] traversaro commented on #108
`_ycm_include`  https://github.com/robotology/ycm/blob/19fd29340a08e03757947cf59c111cf68aaf44d9/modules/YCMEPHelper.cmake#L94 is the macro to fix.

[2016-11-25 13:20] #108 closed

[2016-12-01 08:32] drdanz opened #110 "Add FindOpenNI2.cmake module"
YARP uses OpenNI2 to build the `depthCamera` module, but instead of having a `FindOpenNI2.cmake`, it is searched manually in the [`CMakeLists.txt`](https://github.com/robotology/yarp/blob/6434a40fd812a80fd58510a702661cad30ee5a02/src/devices/depthCamera/CMakeLists.txt#L6) file.

On Debian/Ubuntu there is a pkg-config file for it, therefore `StandardFindModule` can be used to create it.

[2016-12-01 13:16] giuliavezzani commented on #110
I'm working in order to fix this issue.
I would create the `FindOpenNI2.cmake` file with the `StandardFindModule`.
In  [**ycm** repo](https://github.com/robotology/ycm), where should I generate the `FindOpenNI2.cmake` file?

[2016-12-02 14:36] drdanz commented on #110
@giuliavezzani Sorry for the delay, I missed this comment.
As I already wrote on the PR on YARP, the right place for new CMake modules is YCM (`devel` branch), we can copy it in YARP later.

[2017-01-29 20:28] traversaro commented on #93
Reopened because this bug in YCM is still not solved: the bootstrap fails on disk mounted using the NFS.

[2017-01-29 20:53] traversaro commented on #93
Just a remainder about the proper solution: the `file(LOCK "${_lockFile}")` return an error code: if the error is because the FS does not support locking, it should be ignored, while the system should fail only if the FS supports the locking and the file is actually locked.

[2017-02-01 16:20] traversaro opened #113 "gitlab downtime broke all the YCM-superbuilds in the world"
Like it happened in https://github.com/robotology/ycm/issues/103 .

[2017-02-01 16:23] traversaro commented on #113
Actually is not a change in the URL, is just a downtime in Gitlab due to https://about.gitlab.com/2017/02/01/gitlab-dot-com-database-incident/ . Closing once Gitlab is again up.

[2017-02-01 16:25] traversaro commented on #105
Related: https://github.com/robotology/ycm/issues/113  (even if in this cased it was caused by a Gitlab downtime).

[2017-02-01 16:59] traversaro commented on #113
cc @gabrielenava

[2017-02-01 16:59] traversaro commented on #113
To anyone having the same problem: use the offline version of ycm available at https://github.com/robotology/ycm/releases .

[2017-02-01 16:59] traversaro commented on #105
To anyone having the same problem: use the offline version of ycm available at https://github.com/robotology/ycm/releases .

[2017-02-01 17:08] gabrielenava commented on #113
I received the error message in https://github.com/robotology/ycm/issues/103 while I was trying to build codyco-superbuild. I circumvented the problem editing this [CMakeLists.txt](https://github.com/robotology/ycm/blob/master/3rdparty/CMakeLists.txt) as follows:

ORIGINAL:

[code]

HACKED:

[code]

[2017-02-01 21:32] traversaro commented on #113
The Gitlab downtime is now solved, closing the issue (even if https://github.com/robotology/ycm/issues/105 remains open).

[2017-02-01 21:32] #113 closed

[2017-02-02 08:48] drdanz commented on #93
I'm not sure how complicate is to parse the output of `file(LOCK)`, and if this output is likely to change.

As an alternative, we could just have an option to disable locks...

Or we could run something like this

[code]

[2017-02-02 09:00] traversaro commented on #93
IMHO parsing the output of `RESULT_VARIABLE` seems to be more robust then launching an external command, because we just need to track the CMake implementation of `file(LOCK ..)`.

[2017-02-02 09:04] drdanz commented on #93
@traversaro I agree, but maybe I didn't clarify my thoughts... I'm worried that the output could be the output received from the internal command used, and that this output could be dependent on the system on which cmake is running and not on the `file(LOCK)` implementation.

[2017-02-02 09:11] drdanz commented on #93
@traversaro Maybe another option could also be to move the lock file to /run/lock instead of keeping it in the build directory? I'm not sure if keeping it outside of the build directory is a good idea though...

[2017-03-24 09:51] diegoferigo opened #114 "Test YCM on multiple CMake versions using Travis CI"
As discussed with @drdanz, I'm extending Travis CI test capabilities. I have some questions before proceeding:

* Is testing on linux enough or osx is also recommended?
* If yes, is it useful testing with XCODE generator?
* Is it useful testing either Debug and Release build types?

[2017-03-24 10:41] traversaro commented on #114
My take:

* macOs is also recommended
* Xcode is a big pain point, so testing the Xcode generator is highly beneficial
* Not really important, as no C/C++ code is compiled by YCM, so there should be no difference in the two builds ,
* Not really important, as (I far as I know) the compiler is never called by YCM .

[2017-03-24 16:07] diegoferigo commented on #114
macOS was already tested before, but only with the CMake version included in default Travis' osx virtualization environment. #115 could be used as a scaffold for implementing the test of multiple CMake versions also in osx.

[2017-03-24 17:03] drdanz commented on #114
I agree with @traversaro

osx is recommended

I'd say that we should test at least "Unix Makefiles" and "Ninja" on linux, "Xcode" on macOS

No, it's actually useless, you can just use Release

No, it's more important to test different generators...

On macOS we don't care about multiple CMake versions, as long as the latest version works
.
We are supporting older cmake versions for linux only (see

[2017-05-01 09:04] DanielePucci commented on #29
I agree! I was having some troubles after the update of `IOpenLoopControl` and since `icub-main` was not compiling. Then @traversaro suggested me to clean the `install` directory and everything worked: a proper `make uninstall` would have done the job for me :)

[2017-05-22 08:40] claudiofantacci opened #116 "CMake policy CMP0054 warnings with cmake 3.8"
Updating to CMake 3.8 and compiling YARP gives a flood of the following [CMP0054].

See [#robotology/1187](https://github.com/robotology/yarp/issues/1187) for further details.

[2017-06-19 11:07] traversaro opened #118 "AppVeyor tests failing"
The tests are failing with these message:
[code]
I saw a similar error message also this weekend on a Ubuntu 16.04 system.

[2017-06-25 20:08] PeterBowman commented on #118
Same [here](https://travis-ci.org/roboticslab-uc3m/openrave-yarp-plugins/jobs/244684288#L6880) for Travis CI on several repos at our org. Apparently, no changes to `CMakeParseArguments.cmake` have been introduced for a long time ([ref](https://github.com/robotology/ycm/commits/master/cmake-next/proposed/CMakeParseArguments.cmake)) and still the expected hash was changed. The offending commit was 4

[2017-07-05 09:55] traversaro opened #119 "cmake is not invoked for projects whose cmake cache changed"
Probably related to https://github.com/robotology/ycm/issues/95 .

[2017-07-05 09:57] traversaro commented on #119
cc @lucaTagliapietra

[2017-07-20 11:12] francesco-romano commented on #2
CMake 3.9 is out.
Given the changes in https://cmake.org/cmake/help/v3.9/policy/CMP0068.html#policy:CMP0068
we should update our RPATH macro

[2017-08-16 13:19] traversaro commented on #60
Related to the issue you are experiencing today @gabrielenava .

[2017-08-27 12:49] traversaro opened #120 "Drop FindEigen3.cmake in favour of Eigen3Config.cmake"
The `FindEigen3.cmake` provided upstream in Eigen3 has several issues, that are addressed by this PR:
https://bitbucket.org/eigen/eigen/pull-requests/281/improve-findeigen3cmake/diff .

I recently discovered a new issue in  `FindEigen3.cmake` (see https://github.com/robotology/idyntree/pull/354), but given the lack of interest upstream in fixing the problems in `FindEigen3.cmake` I think it would

[2017-08-28 08:48] traversaro commented on #120
As correctly pointed out by https://github.com/robotology/idyntree/pull/354#issuecomment-325296603 , if we assume we are targeting systems with Eigen3 version >= 3.2.92 , we can start using directly `find_package(Eigen3 CONFIG)` so we can ignore any `FindEigen3.cmake` logic.

[2017-08-29 11:45] drdanz commented on #120
@traversaro which version of eigen3 is available in distributions listed in http://wiki.icub.org/wiki/YARP_Supported_Distributions and on brew for MacOS? Which version are we distributing in our windows package?

[2017-08-29 14:44] traversaro commented on #120
Table in http://wiki.icub.org/wiki/YARP_Supported_Distributions updated. If we enable the bacports on Jessie, we can require Eigen 3.2.92 .

[2017-08-29 16:15] drdanz commented on #120
What about windows packages?

[2017-08-30 10:21] traversaro commented on #120
There  is now easy place to check the version without installing the installer, but it is Eigen 3.3.0 .

[2017-08-30 11:45] traversaro commented on #120
I checked, the version in the installer is indeed 3.3.0 :
[code]
the problem is that the installer contains no `Eigen3Config.cmake` . I think this was due to the fact that the `Eigen3Config.cmake` produced by the installation procedure in Eigen 3.3.0 was not relocatable (see http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1347). This problem is now solved in the latest version of Eigen, but this mea

[2017-09-13 09:58] Tobias-Fischer opened #121 "YCM installation fails on brew"
Hi,
It seems like YCM can't be installed using brew, see e.g. https://travis-ci.org/robotology/icub-main/jobs/274533299
It would be great if this could be fixed, as this currently breaks all tests on OS X with YCM / Yarp as dependency.

Best,
Tobi

[2017-09-14 06:24] drdanz commented on #121
cc @francesco-romano

[2017-09-15 14:10] francesco-romano commented on #121
I don't think it is YCM which is failing, but this command (executed after the installation of YCM which instead is successful)

`"if [ \"$TRAVIS_OS_NAME\" = \"osx\" ]; then brew install `brew deps --1 yarp | sed -e ':a' -e 'N' -e '$!ba' -e 's/\\n/ /g'`; fi",`

Honestly, I don't know who wrote that command and why.

[2017-09-15 14:11] francesco-romano commented on #121
cc @traversaro

[2017-09-15 15:01] francesco-romano commented on #121
Issue opened in cub-main: https://github.com/robotology/icub-main/issues/470
closing this.

[2017-09-15 15:01] #121 closed

[2017-09-16 08:27] traversaro commented on #118
I reproduced this issue also by trying to bootstrap a superbuild on WSL .

[2017-09-18 09:57] drdanz commented on #118
I think there are 3 problems here:
1. CMakeParseArguments.cmake is now a builtin command, but we still support CMake 3.4 so we need a version of the file actually containing the command.
2. We have a "proposed" version of the CMakeParseArguments.cmake that was not accepted upstream. I don't remember if we still need that or not. The problem was the parsing of empty commands.
3. On windows, dependi

[2017-11-30 16:40] traversaro opened #124 "If a superbuild that uses YCMBootstrap, the YCM_DIR variable is not cached across calls to cmake"

[2017-11-30 16:44] traversaro opened #125 "If a new build directory is created in an existing superbuild, the package not found message is misleading"
In case a new build directory is created in an existing superbuild, for each package not found in the system the following message is printed:
[code]
However, the source code of the package has been already download, and it will not be downloaded again.

[2017-12-01 07:09] drdanz commented on #124
If I remember correctly, this is deliberate, it is necessary to handle YCM like any other superbuild package, If you want to build it only once, you should be able to run cmake, set YCM_DIR manually and run cmake again.

[2017-12-01 07:14] drdanz commented on #125
I'm not sure if this message can be changed only in this case, this message is in find_or_build_package, that does not know anything about the download folder, so it is impossible to check if it exists. Suggestions?

[2017-12-22 11:15] PeterBowman commented on #118
I couldn't reproduce this on YCM v0.6.0, looks like it's solved. This bug affected v0.2.3 and v0.4.0.

[2018-01-09 07:25] drdanz commented on #118
Thanks @PeterBowman for testing!
I'll close the issue then.

[2018-01-09 07:25] #118 closed

[2018-01-30 09:21] traversaro opened #126 "On a YCM-based superbuild, if there is no BuildPackage.cmake file, the superbuild fails silently"
cc @jeljaik

[2018-02-06 09:15] diegoferigo opened #225 "DEVEL_MODE is ignored in NON_INTERACTIVE_BUILD for packages that have an hyphen in the name"
If I follow the steps:

- Configure the superbuild as `NON_INTERACTIVE_BUILD`
- `make update_all`
- Manually checkout `devel` in some repos
- Reconfigure CMake setting these repos in `DEVEL_MODE`
- Building the superbuild

I obtain the following error:

[code]

It looks like the superbuild tries to operate on branches anyways.

For the time being, as temporary workaround I set some dummy local git

[2018-02-07 16:02] claudiofantacci opened #127 "Extend AddUninstallTarget.cmake to Ninja"
Visual Studio 17 release 15.4 added CMake support so that you can open a Cmake project without generating a Visual Stduio project.

Internally, you can then choose the generator for managing the compilation process.
Ninja is the one suggested and the fastest one!
Unofrtunately, the Uninstall target/process is not added to the Ninja rules.

I reckon it woul be a very helpful feature!

PS: maybe the

[2018-02-07 17:49] traversaro commented on #127
I just tried on Linux, and `ninja uninstall` seems to be working fine.

[2018-02-07 18:33] claudiofantacci commented on #127
Interesting, so maybe is something that is strictly related to Visual Studio integration.

I'll do some more experiments asap.

[2018-02-07 18:46] claudiofantacci commented on #127
Also on macOS.

[2018-02-09 08:03] drdanz commented on #126
If I understand correctly if you have a `find_or_build_package(Foo)` call and there is no `BuildFoo.cmake` file, it fails silently, but what is failing exactly? Just the package is not built or CMake fails?

[2018-02-09 08:05] drdanz commented on #127
On MSVC the target names are uppercase, have you tried UNINSTALL? I'm not sure if the other targets are uppercase too when using Ninja...

[2018-02-09 08:08] traversaro commented on #126
Sorry: the package is not built.

[2018-02-09 08:25] claudiofantacci commented on #127
I'm not creating a VS solution with the CMake generator, but opening a folder directly with Visual Studio and then using Ninja to build the targets.
However, I think that there is something to customize within VS in order to use the `uninstall` (lowercase) target, which seems not to be parsed automatically.
I'll do some more experiments and let you know 👍

[2018-02-09 13:13] drdanz commented on #126
Ok, so the problem is that the package is not built, but you don't get a feedback, right?

[2018-02-09 15:25] traversaro commented on #126
Exactly. Perhaps we should use `find_or_build_package(Foo REQUIRED)` ? I never considered doing that.

[2018-02-09 15:55] drdanz commented on #126
I don't remember if that is supported, if it is I might have done this on purpose... :smile:

[2018-03-04 10:15] traversaro opened #129 "Find a way to pass the same CMAKE_TOOLCHAIN_FILE to every cmake-based subproject"
For cross-compilation of a complete workspace, it could be convenient to be able to pass in some way the same `CMAKE_TOOLCHAIN_FILE` to every cmake-based subproject of a YCM-based superbuild.

An alternative solution that could be implemented in CMake would be supporting specifying `CMAKE_TOOLCHAIN_FILE` as an environment variable. I remember that this solution was suggested somewhere in vcpkg doc

[2018-03-04 10:15] traversaro commented on #129
cc @claudiofantacci

[2018-03-04 10:21] traversaro commented on #129
In ament, this is solved by the generic `cmake-args` option: https://github.com/ros2-for-arm/ros2/wiki/ROS2-on-arm-architecture#trigger-a-build .

[2018-03-05 10:58] drdanz commented on #129
I think that the easiest way to do that is to pass it here:
https://github.com/robotology/ycm/blob/master/modules/YCMEPHelper.cmake#L790

[2018-03-15 14:43] traversaro commented on #51
I think this will increase complexity, with little benefit. :-1:

[2018-03-15 16:50] drdanz commented on #67
This was done in 0.6

[2018-03-15 16:50] #67 closed

[2018-03-15 16:52] drdanz commented on #37
This is no longer an issue, since YCM 0.6 supports only CMake 3.0 and newer

[2018-03-15 16:53] #37 closed

[2018-05-05 16:29] traversaro opened #133 "Update FindGLFW3.cmake to support the latest version installed from vcpkg"
In https://github.com/robotology/yarp/issues/1675 , @mebbaid observed problem with the `FindGLFW3.cmake` script shipped with YCM when used with the latest `glfw3` installed by vcpkg. We should check if it needs to be updated.

@mebbaid can you provide the details of your modification to the `FindGLFW3.cmake` file? Thanks

[2018-05-05 16:37] traversaro commented on #133
By the way, as the latest `glfw3` install its own `glfw3Config.cmake` file that exposes the `glfw` imported target. it could make sense to add in the `FindGLFW3.cmake` a call to `find_package(glfw3 CONFIG)` and, if the `glfw` imported target is defined, define `GLFW3_INCLUDE_DIRS`, `GLFW3_LIBRARIES` and `GLFW3::GLFW3` from the data in the `glfw` imported target.
Unfortunately just drop the `FindGL

[2018-05-05 18:33] mebbaid opened #134 "Update FindLibOVR.cmake to support the latest version installed by VC2017"
As documented [here](https://github.com/robotology/yarp/issues/1675), the following Part of the `FindLibOVR.cmake`:
[code]
should be appended to look like this:
[code]
Notice: The latest version for the `LibOVRKernel` has some issues when built for the VS2017 architecture, so even though we are checking for VS2017  using `if(MSVC)` we build the 2015 version of the library and so it generates the f

[2018-05-05 18:48] mebbaid commented on #133
@traversaro : yeah, the thing is, when you install the package using `vcpkg install --triplet x64-windows glfw3` , this part of `FindGLFW3.cmake`:
[code]
is not executed, since `GLFW FOUND TRUE` because it is there in the standard `CMAKE_PREFIX_PATH`. however this means `GLFW3_GLFW_LIBRARY` will return `NOT_FOUND` and then when you generate the solution, and try to build it, the linker will not be

[2018-05-05 22:51] traversaro commented on #134
I think this is because, while historically every Visual Studio release had a different [ABI](https://stackoverflow.com/a/2456882), Visual Studio 2015 ([`MSVC14`](https://cmake.org/cmake/help/v3.11/variable/MSVC14.html)) and Visual Studio 2017 ([`MSVC_VERSION` in 1910-1919](https://cmake.org/cmake/help/v3.11/variable/MSVC_VERSION.html#variable:MSVC_VERSION)) are the [first two major version of  Vi

[2018-05-05 23:06] traversaro commented on #133
I think https://github.com/robotology/ycm/pull/135 should fix this issue, by defining `GLFW3::GLFW3` as an alias of `glfw` in case the imported target `glfw` is defined.

[2018-05-06 09:15] drdanz commented on #133
Is the `glfw` target coming from upstream or from vcpkg?

[2018-05-06 09:17] traversaro opened #136 "AUTHOR_WARNINGs that depend on CMAKE_MINIMUM_REQUIRED_VERSION on the downstream project"
I am setting up a ycm-based superbuild that with CMAKE_MINIMUM_REQUIRED_VERSION equal to 3.5, and I am getting a lot of AUTHOR_WARNING such as https://github.com/robotology/ycm/blob/331f21737df560e9a484c4ceb4f1398fe8ca2e14/modules/StandardFindModule.cmake#L104 .
As correctly pointed out in
https://github.com/robotology/ycm/pull/76#issuecomment-65210965 , all this warnings should be checking the `C

[2018-05-08 17:57] drdanz commented on #133
In this case we should make a patch to add the namespace to their target :tired_face:

[2018-05-08 18:10] drdanz commented on #134
Seriously?

[code]

[code]

This is getting more complicated day by day...

To be honest I don't remember if the `VS2013` was a typo, or a temporary hack to get it working on VS 2015... Anyway, I'm ok with changing it to use `MSVC_VERSION`, but I'm not so sure about the upper limit...

[2018-05-09 13:06] drdanz commented on #136
I think this should be fixed in `devel`

[2018-05-10 11:31] drdanz opened #138 "Use FetchContent for bootstrap phase"
We should test if it is possible to use [`FetchContent`](https://cmake.org/cmake/help/latest/module/FetchContent.html) instead of YCM bootstrap phase.
Also we should check if the FetchContent module can be used with previous CMake version and if we can import it in cmake-next

[2018-05-20 08:09] traversaro opened #141 "AppVeyor is failing due to maximum allowed artifact storage size exceed"
The actual error message is:

See https://ci.appveyor.com/project/robotology/ycm/build/job/a5qwcvrkgy6x6u8q .

[2018-05-21 09:04] drdanz commented on #141
As a temporary solution, I manually deleted lots of old builds...
I wonder if there is a way to delete them automatically.
Also I would be happy to enable artifacts only for tags, I don't know if there is a way...

[2018-05-21 09:04] drdanz commented on #141
I also restarted the builds for your PR...

[2018-05-22 08:29] drdanz commented on #141
Still failing :(
I'm merging the PR anyway

[2018-05-22 08:33] drdanz commented on #141
I temporarily disabled the artifacts...
We should find a way to fix it before next release

[2018-06-08 14:54] diegoferigo opened #147 "Probable RPATH error"
Coming from https://github.com/robotology/idyntree/issues/441#issuecomment-390148540 and https://github.com/robotology/idyntree/issues/241, on my system (Ubuntu 16:04) I realized that not only the python bindings have RPATH problems. All of our built libraries I checked have a sort of RPATH enabled, but an absolute path is prepended.

E.g. in yarp:

[code]

I'm not an expert and to be honest I sti

[2018-06-09 10:18] claudiofantacci commented on #147
😲 I didn't remember/know that. Thanks @francesco-romano 👍

[2018-06-09 16:30] francesco-romano commented on #147
Well... let's say that I am sure at 99%.. I can't test it now :D

[2018-06-11 13:09] PeterBowman opened #148 "install_basic_package_files(EXPORT) does not cope well with targets at YCM 0.8.0"
The new `EXPORT` command to `install_basic_package_files()` and previously available `TARGETS`/`TARGETS_PROPERTY`/`TARGETS_PROPERTIES` are mutually exclusive ([ref](https://github.com/robotology/ycm/blob/v0.8.0/modules/InstallBasicPackageFiles.cmake#L296-L332)). However, there is an internal list of targets this command handles that defaults to the project name when using `EXPORT` ([ref](https://g

[2018-06-12 09:46] #116 closed

[2018-06-12 16:42] traversaro opened #149 "YCM compilation fails due to network problem"
[code]

[2018-06-12 16:43] traversaro commented on #149
For anyone having this problem, you can workaround by downloading the YCM version that does not download anything and build that one, i.e. https://github.com/robotology/ycm/releases/download/v0.6.0/ycm-0.6.0.dev-offline.tar.gz .

[2018-06-12 16:44] traversaro commented on #149
See https://twitter.com/gitlabstatus/status/1006574140038533120 .

[2018-06-12 16:46] traversaro commented on #149
Related issue: https://github.com/robotology/ycm/issues/105 .

[2018-06-12 16:49] traversaro commented on #149
Another instance of Gitlab downtime: https://github.com/robotology/ycm/issues/113 .

[2018-06-13 08:42] traversaro commented on #149
Gitlab outage fixed, see post-mortem at https://gitlab.com/gitlab-com/infrastructure/issues/4380 .

[2018-06-14 16:51] drdanz commented on #148
@PeterBowman I think b05ed7eeb03dfe7a53f41119095a302f84904605 fixes the problem.
Can you confirm this?

Regarding the comment about `BUILD_SHARED_LIBS` concern, I agree, but I think it belongs to a separate issue... Can you please open a separate one, so that we can close this?

[2018-06-14 17:49] PeterBowman opened #150 "Inspect handling of private dependencies in install_basic_package_files()"
As reported in https://github.com/robotology/ycm/commit/0e0d0f5120fe8907c0dafa4f733ac3d1fe90cf14#r29318076, there is an apparently needless check for `BUILD_STATIC_LIBS` regarding private dependencies of static targets.

https://github.com/robotology/ycm/blob/11f45a366fee3e0f35d847c7cfaa601cc5b9687d/modules/InstallBasicPackageFiles.cmake#L559-L570

In addition, as reported in https://github.com/ro

[2018-06-14 17:51] PeterBowman commented on #148
Thanks, @drdanz, I can confirm the target passed to `FIRST_TARGET` is both correctly exported in the `<pkg>Config.cmake` file (first concern) and successfully checked against any private dependencies in case it's a static library (second concern). This will not work as expected when more than one target shall be exported by the project, though. More precisely:

* If the `COMPATIBILITY_VARS` option

[2018-06-14 18:44] drdanz commented on #147
try `objdump -x libYARP_math.so | grep -2 PATH` (it will match both `RPATH` and `RUNPATH` since this changed for some reason). This will show the actual RPATH... For the installation it should be something like
[code]

[2018-06-14 19:00] claudiofantacci commented on #147
Kitware has a new Wiki page under their GitLab website and they updated the documentation concerning [RPATH](https://gitlab.kitware.com/cmake/community/wikis/doc/cmake/RPATH-handling).

I was unaware of `RUNPATH` before checking this issue with @diegoferigo, beware that **`RPATH` is ignored if RUNPATH is present.**

[2018-06-14 19:19] drdanz commented on #148
Thanks @PeterBowman.

Unfortunately, the optimal solution would be to be able to "read" the targets defined in one EXPORT, but I couldn't find any way to do that, I don't think this is allowed by CMake... It would be probably a good idea to open an issue upstream in CMake.

The `COMPATIBILITY_VARS` option is instigating a deprecated behaviour, i.e. using variables instead of targets, therefore I'm

[2018-06-14 19:19] #148 closed

[2018-06-15 06:34] diegoferigo commented on #147
@francesco-romano No I didn't try to move the folder. This is a very limited use-case since it need also changing some of the environment variables of the system.

Strange behavior :sweat_smile: Thanks to have shed some light on it.

@drdanz `objdump` work fine, good to know!

[code]

In the end this was the right behavior, at least we (for sure I) learned something new :tada:

[2018-06-15 06:34] #147 closed

[2018-06-15 07:05] traversaro commented on #147
I think it is the best explanation of RPATH I ever seen. We should link it whenever we discuss about rpath support (such as the in the C++ libraries howto).

[2018-06-15 08:14] claudiofantacci commented on #147
Well, yes I think that as well, but still for experienced user who understand the importance of the _install name_ recorded in the library etc. To be honest I find that the description made by @francesco-romano in the YCM module [AddInstallRPATHSupport.cmake](https://github.com/robotology/ycm/blob/master/modules/AddInstallRPATHSupport.cmake) is also very informative.

Yes and considering the above

[2018-06-15 08:17] claudiofantacci opened #151 "Incomplete sentence in AddInstallRPATHSupport doc"
The following statement is incomplete

https://github.com/robotology/ycm/blob/11f45a366fee3e0f35d847c7cfaa601cc5b9687d/modules/AddInstallRPATHSupport.cmake#L50-L51

@francesco-romano, I can take care of it, but can you please suggest me how to complete it?

I would suggest something like this:
`In all cases (building executables and/or shared libraries) dependent shared libraries with RPATH suppor

[2018-06-15 08:18] claudiofantacci commented on #127
The Uninstall target is properly created for ninja, but VS do not expose it.
However, if you `cd` in the build folder and issue `ninja uninstall` the library is uninstalled.

[2018-06-15 10:14] francesco-romano commented on #147
@diegoferigo which variables are you referring to?
Technically, only the `PATH` variable should be updated (and unfortunately `YARP_DATA_DIRS` until we found a smarter solution)

[2018-06-15 10:21] francesco-romano commented on #151
wow. You are right.
I don't know why the sentence is incomplete.

I would also change the line 32-33 in the active form:
[code]

For the incomplete sentence, I think your completion is ok, but I would add also that the search path will be embedded in the binary itself. Something like
[code]

[2018-06-15 10:25] claudiofantacci commented on #151
I'll change the file right away from here.

[2018-06-15 10:41] #151 closed

[2018-06-18 08:43] diegoferigo commented on #147
@francesco-romano Unfortunately `LD_LIBRARY_PATH` is stil required in particular cases. See https://github.com/robotology/robotology-superbuild/pull/82 as a reference.

[2018-06-18 11:52] francesco-romano commented on #147
ah yes.. modules might still need to be located on the file system

[2018-06-26 16:56] traversaro commented on #129
Indeed, the following lines :
[code]
would be helpful for crosscompiling superbuilds. Would you be happy with this change @drdanz ?

[2018-06-27 09:42] traversaro commented on #129
You meant for the iOS `robotology-superbuild` :D

[2018-07-02 14:44] drdanz commented on #129
If it works, it looks good to me...

[2018-07-02 14:47] traversaro commented on #129
Ok, I will try it then. : D

[2018-07-02 15:00] weekly-digest[bot] opened #154 "Weekly Digest (25 June, 2018 - 2 July, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, 2 issues were created. Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #129 [Find a way to pass the same CMAKE_TOOLCHAIN_FILE to every cmake-based subproject](https://github.com/robotology/ycm/issues/129), by [traversaro](https://github.com/traversaro)

[2018-07-03 10:20] weekly-digest[bot] opened #155 "Weekly Digest (26 June, 2018 - 3 July, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, 4 issues were created. Of these, 3 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #129 [Find a way to pass the same CMAKE_TOOLCHAIN_FILE to every cmake-based subproject](https://github.com/robotology/ycm/issues/129), by [traversaro](https://github.com/traversaro)

[2018-07-03 22:41] weekly-digest[bot] opened #156 "Weekly Digest (26 June, 2018 - 3 July, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, 4 issues were created. Of these, 3 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #129 [Find a way to pass the same CMAKE_TOOLCHAIN_FILE to every cmake-based subproject](https://github.com/robotology/ycm/issues/129), by [traversaro](https://github.com/traversaro)

[2018-07-04 13:30] #154 closed

[2018-07-04 13:30] #155 closed

[2018-07-04 13:30] #156 closed

[2018-07-15 01:50] weekly-digest[bot] opened #157 "Weekly Digest (8 July, 2018 - 15 July, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, [aps120797](https://github.com/aps120797) has starred the repository.
You are the star

[2018-07-22 06:54] weekly-digest[bot] opened #158 "Weekly Digest (15 July, 2018 - 22 July, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, [justinjk007](https://github.com/justinjk007) has starred the repository.
You are the

[2018-07-23 09:35] #157 closed

[2018-07-29 09:35] weekly-digest[bot] opened #159 "Weekly Digest (22 July, 2018 - 29 July, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user has starred this repository.

# COMMITS
This week, there have been 3 commits i

[2018-08-02 09:41] #158 closed

[2018-08-05 05:45] weekly-digest[bot] opened #161 "Weekly Digest (29 July, 2018 - 5 August, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week 1 issue is created.
## OPEN ISSUES
:green_heart: #160 [Fix typo, actually compare first argument to known find_package options](https://github.com/robotology/ycm/pull/160), by [PeterBowman](https://github.com/PeterBowman)

# PULL REQUESTS
This week, 1 pull request has been proposed, which is still

[2018-08-09 13:06] traversaro opened #162 "Make InstallBasicPackageFiles FetchContent / add_subdirectory friendly"
A current trend in some CMake projects is to include external dependencies using `add_subdirectory` command. In general this does not work (due to cross talking between the two projects, see https://www.reddit.com/r/cpp/comments/8sie4b/i_manage_the_release_cycle_for_cmake_the_build/e11imjh/ ) but if the external dependency is simple enough, it is quite convenient.

This workflow is actually the on

[2018-08-09 13:17] traversaro commented on #162
In general, the problem for this are the use of `CMAKE_SOURCE_DIR` and `CMAKE_BINARY_DIR` .
@drdanz @claudiofantacci @diegoferigo do you think we can simply substitute `CMAKE_SOURCE_DIR` with `PROJECT_SOURCE_DIR` in https://github.com/robotology/ycm/blob/master/modules/InstallBasicPackageFiles.cmake#L399 or we need a specific option to switch between the two behaviors?

[2018-08-09 14:09] claudiofantacci commented on #162
I hope to have got the point correct since I have never dealt with project inceptions. I'll ask some questions to understand the context and also to clarify the situation.

@traversaro could yuo please complete the sentence 😄 ? Thanks!

My first thought about this external projects into project using `FetchContent/add_subdirectory` thing is that it is (somewhat?) wrong to do in CMake. I would go w

[2018-08-09 14:14] traversaro commented on #162
This workflow is actually the one for which the new CMake module [`FetchContent`](https://cmake.org/cmake/help/git-stage/module/FetchContent.html) has been designed, as you may see in the FetchContent docs.

[2018-08-12 07:37] weekly-digest[bot] opened #163 "Weekly Digest (5 August, 2018 - 12 August, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #162 [Make InstallBasicPackageFiles FetchContent / add_subdirectory friendly ](https://github.com/robotology/ycm/issues/162), by [traversaro](https://github.com/traversaro)
## NOISY ISSUE
:speaker: #162 [Make InstallB

[2018-08-19 07:37] weekly-digest[bot] opened #164 "Weekly Digest (12 August, 2018 - 19 August, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2018-08-24 07:48] traversaro commented on #162
Section 27.2 of [Professional CMake: A Practical Guide](https://crascit.com/professional-cmake/) is related to this discussion.

[2018-08-26 03:18] weekly-digest[bot] opened #165 "Weekly Digest (19 August, 2018 - 26 August, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2018-08-29 15:56] Nicogene opened #166 "System-wide libedit not found"
@claudiofantacci reported:

**Describe the bug**
macOS comes with a system-wide `libedit` located in `/usr/local` that is usually found by CMake and used, e.g., to enhance the UX of YARP RPC ports (command line like input, tokenization, etc.). System-wide `libedit` is no longer found by CMake and the only way to get it trough is to install libedit with brew and to force link it `brew install libed

[2018-09-02 03:18] weekly-digest[bot] opened #167 "Weekly Digest (26 August, 2018 - 2 September, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #166 [System-wide libedit not found on macOS](https://github.com/robotology/ycm/issues/166), by [Nicogene](https://github.com/Nicogene)

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merg

[2018-09-04 13:34] #167 closed

[2018-09-04 13:34] #165 closed

[2018-09-04 13:35] #164 closed

[2018-09-04 13:35] #163 closed

[2018-09-09 03:18] weekly-digest[bot] opened #168 "Weekly Digest (2 September, 2018 - 9 September, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there was 1 stargazer.
:star: [N

[2018-09-10 14:53] randaz81 commented on #133
I have problems with glfw3 (clean installation).
Can you please tell me more abour the status of this issue? Can I use (and merge) #135?

[2018-09-11 09:40] #159 closed

[2018-09-11 09:41] #161 closed

[2018-09-11 09:41] #168 closed

[2018-09-11 13:18] #133 closed

[2018-09-12 21:58] traversaro opened #169 "Make AddUninstallTarget FetchContent / add_subdirectory friendly"
Similar to what we discussed in https://github.com/robotology/ycm/issues/162#issue-349119219, also `AddUninstallTarget` (or any other module that adds custom "global" targets) is not really compatible with the FetchContent / add_subdirectory pattern (see https://github.com/robotology/idyntree/issues/370#issuecomment-420705347).

I think this can be elegantly addressed by adding the uninstallation

[2018-09-12 22:03] traversaro commented on #169
I just realized that this does not make any sense, as the `install_manifest.txt` is only one for project. If there is already an uninstall target, the only thing we can do is hope that it does the right thing, and we do not add any additional uninstall target.

[2018-09-12 22:07] traversaro commented on #169
We just need to have a:
[code]
somewhere, ideally before the `file(WRITE` to avoid polluting the build with confusing files.

[2018-09-12 22:09] traversaro commented on #169
Indeed the latest version of the CMake's `uninstall`s FAQ's entry is doing exactly this:
https://gitlab.kitware.com/cmake/community/wikis/FAQ#can-i-do-make-uninstall-with-cmake

[2018-09-13 07:01] claudiofantacci commented on #169
Thank @traversaro for raising this valid point.

Indeed, as long as the `install_manifest` is correctly populated, the uninstall target is well-formed. However there shall be only one `uninstall` target. I'm sure that CMake complains when it finds the same target multiple times and allows only the first one (just try to add the uninstall target with YCM and ICUBcontrib and you'll see it).

Adding

[2018-09-16 03:18] weekly-digest[bot] opened #170 "Weekly Digest (9 September, 2018 - 16 September, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #169 [Make AddUninstallTarget FetchContent / add_subdirectory friendly](https://github.com/robotology/ycm/issues/169), by [traversaro](https://github.com/traversaro)
## NOISY ISSUE
:speaker: #169 [Make AddUninstallTar

[2018-09-23 14:31] weekly-digest[bot] opened #171 "Weekly Digest (16 September, 2018 - 23 September, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user has starred this repository.

# COMMITS
This week, there have been 1 commit in

[2018-09-28 22:02] #171 closed

[2018-09-28 22:03] #170 closed

[2018-10-02 13:20] traversaro opened #172 "YCMBootstrap is failing because gitlab.kitware.com is down"
First experienced  by @InesSorrentino .

[2018-10-02 14:28] traversaro commented on #172
Fixed know. The usual workaround is to use the offline version provided in the release page: https://github.com/robotology/ycm/releases/tag/v0.9.0 .

[2018-10-02 14:28] #172 closed

[2018-10-02 14:29] traversaro commented on #105
Related issue: https://github.com/robotology/ycm/issues/172 .

[2018-10-06 13:28] claudiofantacci commented on #7
Something like [this](https://github.com/robotology/how-to-export-cpp-library/blob/master/doc/CMakeLists.txt) could be helpful in YCM?

cc @traversaro

[2018-10-06 13:40] claudiofantacci opened #173 "Detect processor features (SSE, AVX, etc)"
There is no standard way of detecting CPU features in CMake.
There is an attempt to do so from version 3.10 with [cmake_host_system_information](https://cmake.org/cmake/help/v3.10/command/cmake_host_system_information.html), however it lacks some important ones.

Looking around over internet I could not find anything ready and most of all scalable to be imported or used, but the following consider

[2018-10-07 02:45] weekly-digest[bot] opened #174 "Weekly Digest (30 September, 2018 - 7 October, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, 6 issues were created. Of these, 1 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #173 [Detect processor features (SSE, AVX, etc)](https://github.com/robotology/ycm/issues/173), by [claudiofantacci](https://github.com/claudiofantacci)
:green_heart: #110 [Add Find

[2018-10-10 08:54] drdanz commented on #173
it's an interesting feature to have, I suppose it would be something interesting for CMake upstream as well. Perhaps discussing it on the CMake issue tracker would be more interesting, since we don't have much experience on this kind of things.
If we had module in CMake master, we can easily import it in YCM...

[2018-10-10 09:02] drdanz commented on #7
Actually the [FindDoxygen](https://cmake.org/cmake/help/v3.9/module/FindDoxygen.html) module has a command to generate the doxygen documentation since CMake 3.9, I think we could import the module in YCM...

[2018-10-10 09:03] drdanz commented on #110
Yes, thanks!

[2018-10-10 09:03] #110 closed

[2018-10-10 09:05] drdanz commented on #2
Yes, thanks

[2018-10-10 09:05] #2 closed

[2018-10-10 09:12] traversaro commented on #7
COOOL, I had no idea.

[2018-10-10 09:18] drdanz commented on #7
I haven't tested it though... I'm sure it will work, but I don't know how much customizable it is...

[2018-10-10 10:39] claudiofantacci commented on #7
Oh wow this is indeed something to study!

[2018-10-10 10:43] claudiofantacci commented on #173
Yeah that would be great 👍
Should I/we open an Issue/Feature request to have some feedback about this?

[2018-10-10 13:00] drdanz commented on #173
Sure! Please go for it! :+1:

[2018-10-11 11:37] claudiofantacci commented on #173
Opend FR upstrem: https://gitlab.kitware.com/cmake/cmake/issues/18445

[2018-10-21 05:01] weekly-digest[bot] opened #175 "Weekly Digest (14 October, 2018 - 21 October, 2018)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user has starred this repository.

# COMMITS
This week, there have been no commits.

[2018-10-28 06:29] weekly-digest[bot] opened #176 "Weekly Digest (21 October, 2018 - 28 October, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2018-10-30 21:38] #175 closed

[2018-10-30 21:39] #174 closed

[2018-11-01 12:04] traversaro opened #177 "In a YCM superbuild, CMAKE_GENERATOR_PLATFORM is not propagated correctly to subproject"
If I configure a superbuild as:
[code]

The subprojects will use the Win32 (i.e. x86 32-bit) platform generator, instead of the x64 (i.e. amd64 64-bit).

Everything works fine (the subprojects build for 64-bit) if I use the old-style generators names:
[code]

I guess that his related to the fact that YCM uses an outdated ExternalProject fork, for which for example this commit is missing: :https://

[2018-11-04 06:29] weekly-digest[bot] opened #178 "Weekly Digest (28 October, 2018 - 4 November, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #177 [In a YCM superbuild, CMAKE_GENERATOR_PLATFORM is not propagated correctly to subproject](https://github.com/robotology/ycm/issues/177), by [traversaro](https://github.com/traversaro)

 - - -
# PULL REQUESTS
Last

[2018-11-04 10:14] #176 closed

[2018-11-11 06:29] weekly-digest[bot] opened #179 "Weekly Digest (4 November, 2018 - 11 November, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2018-11-18 06:29] weekly-digest[bot] opened #182 "Weekly Digest (11 November, 2018 - 18 November, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 2 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #181 [Comment on fix of FindESDCANAPI module added](https://github.com/robotology/ycm/pull/181), by [InesSorrentino](https://github.com/InesSorrentino)
:heart: #180 [Fix co

[2018-11-21 07:40] traversaro commented on #177
Related to https://github.com/robotology/ycm/issues/50 .

[2018-11-25 06:29] weekly-digest[bot] opened #183 "Weekly Digest (18 November, 2018 - 25 November, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2018-11-28 13:41] drdanz commented on #141
This is still an issue, honestly I cannot understand why this is happening since appveyor retention policy should now be operative

[2018-11-28 15:53] claudiofantacci commented on #141
@drdanz do you have a link to a failed test becuase of this issue?

[2018-11-28 18:43] drdanz commented on #141
https://ci.appveyor.com/project/robotology/ycm/builds/20612970

[2018-11-29 08:15] claudiofantacci commented on #141
That is really strange...I would try removing the artifacts line altogether.

[2018-12-02 06:29] weekly-digest[bot] opened #184 "Weekly Digest (25 November, 2018 - 2 December, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were 7 commits.
:hammer_and_wrench: [.appveyor.yml: Disable artifacts again](https://github.com/robotology/ycm/commit/3c1fa0b65d6cf8724041872

[2018-12-03 13:01] #178 closed

[2018-12-03 13:01] #179 closed

[2018-12-03 13:01] #182 closed

[2018-12-03 13:01] #183 closed

[2018-12-06 16:22] traversaro opened #185 "Understand if it is necessary to expose the new ARCH_INDIPENDENT parameter in InstallBasicPackageFiles"
See https://gitlab.kitware.com/cmake/cmake/merge_requests/2666 .

[2018-12-06 17:13] drdanz commented on #185
It should be quite easy to expose it, but we should check if unknown parameters are just ignored by  `write_basic_package_version_file`, otherwise we have to import the latest version of `CMakePackageConfigHelpers` and related files as well...

[2018-12-09 06:29] weekly-digest[bot] opened #186 "Weekly Digest (2 December, 2018 - 9 December, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #185 [Understand  if it is necessary to expose the new ARCH_INDIPENDENT parameter in InstallBasicPackageFiles](https://github.com/robotology/ycm/issues/185), by [traversaro](https://github.com/traversaro)
## NOISY ISS

[2018-12-11 12:35] #184 closed

[2018-12-11 13:47] drdanz commented on #185
Fixed in #187

[2018-12-11 13:47] #185 closed

[2018-12-16 06:29] weekly-digest[bot] opened #189 "Weekly Digest (9 December, 2018 - 16 December, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #188 [[WIP] ExternalProject sync](https://github.com/robotology/ycm/pull/188), by [drdanz](https://github.com/drdanz)
## CLOSED ISSUES
:heart: #187 [InstallBasicPackage

[2018-12-18 11:05] traversaro opened #190 "Document how to add a non-CMake based package to a YCM-based superbuild"
I think it should be sufficient to just pass the `CONFIGURE_COMMAND` (the one that usually is "cmake ..", `BUILD_COMMAND` (the one that usually is "cmake --build .") and `INSTALL_COMMAND` (the one that usually is `cmake --build . --target INSTALL`) in the call to `ycm_ep_helper` in the `Build<package>.cmake` script.

The `YCMEPHelper` module do not have a lot of docs, but it is just a small wrappe

[2018-12-18 11:05] traversaro commented on #190
cc @gabrielenava

[2018-12-18 11:20] gabrielenava commented on #190
Thanks, this `Buildxxx.cmake` file worked:

[code]

[2018-12-20 10:26] EnricoMingo opened #191 "[YCMEPHelper] Add new argument for GIT: folder name"
Hi, this is a suggestion: should be nice to have the possibility to optionally specify the nome of the folder for the git clone. This is very easy in git:

```git clone repo_url folder_name```

[2018-12-20 11:42] liesrock commented on #191
Should be already possible with the <name> arg (https://github.com/robotology/ycm/blob/3b628e2d4757dd1291d87b9829da6b17955e1964/modules/YCMEPHelper.cmake)

[2018-12-20 14:54] EnricoMingo commented on #191
Which one?

[2018-12-20 14:56] liesrock commented on #191
If you check the link it is the first argument of the function (called <name>)

[2018-12-20 15:04] EnricoMingo commented on #191
Sorry, I can not find it:

[code]

maybe the ```FOLDER``` param?

[2018-12-20 15:06] liesrock commented on #191
The fist J

ycm_ep_helper(<name>

That name

[2018-12-20 15:09] EnricoMingo commented on #191
Ok, got it, so the ```<name>``` is also used for the folder, I thought it was just used for the CMakeLists, ok then I'll close.

[2018-12-20 15:09] #191 closed

[2018-12-20 15:09] liesrock commented on #191
Sorry I got now why you were not seeing it: I was writing it with the < > angular parenthesis on my phone: it is the first arg called name

[2018-12-23 06:29] weekly-digest opened #192 "Weekly Digest (16 December, 2018 - 23 December, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #190 [Document how to add a non-CMake based package to a YCM-based superbuild](https://github.com/robotology/ycm/issues/190), by [traversaro](https://github.com/travers

[2018-12-23 08:39] traversaro commented on #190
Renamed the issue as I think that this can be addressed by documenting a bit more the YCMEPHelper module, providing appropriate links to the ExternalProject docs.

[2018-12-23 09:14] traversaro commented on #138
In gazebo-fmi, we vendor the `FetchContent` module and it is working fine (tested by Travis) on Xenial (CMake 3.5), see https://github.com/robotology/gazebo-fmi/pull/23 .

[2018-12-26 17:51] drdanz commented on #190
A lot of documentation related to the module is available here: http://robotology.github.io/ycm/gh-pages/git-master/manual/ycm-superbuild.7.html

[2018-12-27 09:39] #186 closed

[2018-12-27 09:39] #189 closed

[2018-12-27 10:18] drdanz commented on #138
`FetchContent` imported in latest `devel` (b195e0d1dbc89f542cbad38f2a58e86625c6c525)

[2018-12-29 09:13] traversaro opened #193 "Import FindOctave version of it in the wild"
A `FindOctave.cmake` was added in https://gitlab.kitware.com/cmake/cmake/merge_requests/2630 to CMake upstream. We can check if that one is compatible with the version that we ship, and eventually import that one via `cmake-next` to remove the `3rdparty/cmake-wiki` directory.

[2018-12-30 06:29] weekly-digest opened #194 "Weekly Digest (23 December, 2018 - 30 December, 2018)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #193 [Import  FindOctave from CMake upstream](https://github.com/robotology/ycm/issues/193), by [traversaro](https://github.com/traversaro)

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or mer

[2019-01-06 06:29] weekly-digest opened #195 "Weekly Digest (30 December, 2018 - 6 January, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2019-01-07 13:23] #194 closed, assigned to nobody

[2019-01-07 13:23] #192 closed, assigned to nobody

[2019-01-13 06:29] weekly-digest opened #197 "Weekly Digest (6 January, 2019 - 13 January, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #196 [cmake-next/3rd-party: Import FindOctave from CMake master instead of cmake wiki](https://github.com/robotology/ycm/pull/196), by [drdanz](https://github.com/drdanz)
## NOISY ISSUE
:speaker: #196 [cmake-next/3rd-

[2019-01-20 06:29] weekly-digest opened #198 "Weekly Digest (13 January, 2019 - 20 January, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2019-01-22 09:17] diegoferigo opened #199 "RPATH support in Ubuntu"
This is really interesting, if today on Ubuntu 18.04 I execute the same command of https://github.com/robotology/ycm/issues/147#issuecomment-397527388, I get:

[code]

Note that `RPATH` is no longer there. I warmly recommend reading [this comment](https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1737608/comments/4) that applies to recent Ubuntu distros. Can you please check the behaviour on yo

[2019-01-22 09:19] drdanz commented on #199
The RPATH name was changed to RUNPATH at some point, i have no idea when and why this happened

[2019-01-22 09:20] traversaro commented on #199
![giphy](https://user-images.githubusercontent.com/1857049/51524878-5f23f900-1e2f-11e9-9f41-df218d180f3a.gif)

[2019-01-22 09:31] diegoferigo commented on #199
What?!? Do you have any link? I just found the `RPATH` was deprecated (other resource [ld.so.8.html](https://manpages.ubuntu.com/manpages/cosmic/man8/ld.so.8.html).

So at this point there's no way to set directories with higher precedence wrt `LD_LIBRARY_PATH`?

[2019-01-22 09:33] claudiofantacci commented on #199
You can set the linker flag `--disable-new-dtags` to use `RPATH` in place of `RUNPATH`.

Just to understand the problem better, why do you need an higher precedence than `LD_LIBRARY_PATH`? Do you feel you might have some conflicts? This should not happen anyway.

[2019-01-22 09:38] diegoferigo commented on #199
Should this be done by the `add_install_rpath_support` macro of YCM?

My case in quite simple. I have an installed project that is bugged. As a developer, I fix the problem in the build tree of the repository (_without_ installing it). I run the unit tests through `ctest` but the libraries loaded by the dynamic linker come from the installed tree (still bugged) since its `lib` directory is inside

[2019-01-22 09:42] claudiofantacci commented on #199
I don't know why this should be happening. I guess you are using plugins, am I right?

[2019-01-22 09:43] claudiofantacci commented on #199
I don't feel like this is clean at all. I would never set a linker flag from within a script. @drdanz what's your opinion about this issue?

[2019-01-22 09:46] diegoferigo commented on #199
No I don't. The libraries that are wrongly used by the dynamic linker are regular shared libraries. If I have understood well, the problem is that `LD_LIBRARY_PATH` has the precedence on `RUNPATH`. The use case of `RPATH` was to provide support to get over `LD_LIBRARY_PATH`, but this behaviour [created problems](https://wiki.debian.org/RpathIssue) and it was deprecated.

[2019-01-22 09:52] claudiofantacci commented on #199
Yes, and infact under macOS this has never be the case beacuse `DYLD_LIBRARY_PATH` has higher precedence than `RPATH`.

Sorry for insisting about this: why are you setting `LD_LIBRARY_PATH`? Is it really necessary? I always try to avoid that. Since you are working from withing the build folder, the binaries should link the libraires inside the build folder as well. Did you try compiling disabling

[2019-01-22 09:58] traversaro commented on #199
Yes, I also suspect as well that the use of  `LD_LIBRARY_PATH` is the fundamental issue here.

See the related issues:
* https://github.com/robotology/robotology-superbuild/issues/95
* https://github.com/robotology/robotology-superbuild/issues/97

[2019-01-22 10:06] diegoferigo commented on #199
Actually the issue I had is described in https://github.com/robotology/robotology-superbuild/issues/97.

If you have any plugins in `<installprefix>/lib`, this folder must be present in `LD_LIBRARY_PATH`. I check and in my case I do not have any plugin there, so I can safely remove this folder from `LD_LIBRARY_PATH`.

At this point we should remember that is a good practice to install plugins in t

[2019-01-22 10:08] traversaro commented on #199
To be honest I do not remember the exact issue as well. `LD_LIBRARY_PATH` was probably a workaround also in that case.

[2019-01-22 10:10] traversaro commented on #199
I am not sure about that. We have always installed Gazebo plugins in `${CMAKE_INSTALL_PREFIX}/${CMAKE_INSTALL_LIBDIR}`, without any major problem (but in that case the plugins can be found using `GAZEBO_PLUGIN_PATH`).

[2019-01-22 10:15] diegoferigo commented on #199
Unfortunately due to https://github.com/robotology/robotology-superbuild/pull/82 we cannot solve https://github.com/robotology/robotology-superbuild/issues/97, and hence the problem discussed in this issue since it is related to the install path of the superbuild.

Yes probably we can think of it as a safe expection since it does not require setting `LD_LIBRARY_PATH`.

I think we can close this is

[2019-01-22 10:15] #199 closed

[2019-01-27 03:51] weekly-digest[bot] opened #200 "Weekly Digest (20 January, 2019 - 27 January, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #199 [RPATH support in Ubuntu](https://github.com/robotology/ycm/issues/199), by [diegoferigo](https://github.com/diegoferigo)
## NOISY ISSUE
:speaker: #199 [RPATH support in Ubuntu](https://github.com/robotology/ycm/issu

[2019-01-28 12:26] #195 closed, assigned to nobody

[2019-01-28 12:26] #197 closed, assigned to nobody

[2019-01-28 12:26] #198 closed, assigned to nobody

[2019-01-28 16:25] traversaro commented on #129
Related PR : https://github.com/ros2/rviz/pull/374 .

[2019-02-03 03:51] weekly-digest[bot] opened #201 "Weekly Digest (27 January, 2019 - 3 February, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2019-02-08 07:52] traversaro commented on #129
Example of this in the wild:
* https://code.videolan.org/videolan/medialibrary/commit/5c16352cf4cc945f9d034b45be5e427b6064c4e2
* https://github.com/xbmc/xbmc/blob/eb59376472d55a4006a98635a2f98990e4fb4cb1/cmake/addons/CMakeLists.txt#L118

[2019-02-08 16:08] #200 closed

[2019-02-10 03:51] weekly-digest[bot] opened #202 "Weekly Digest (3 February, 2019 - 10 February, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2019-02-17 01:26] weekly-digest[bot] opened #205 "Weekly Digest (10 February, 2019 - 17 February, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 2 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #204 [FindPortAudio: Improve detection on VCPKG](https://github.com/robotology/ycm/pull/204), by [drdanz](https://github.com/drdanz)
:heart: #203 [Fix FindOVR for VS2015](h

[2019-02-20 17:03] #202 closed

[2019-02-20 17:04] #201 closed

[2019-02-24 01:26] weekly-digest[bot] opened #207 "Weekly Digest (17 February, 2019 - 24 February, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #206 [Update ovito URL in docs](https://github.com/robotology/ycm/pull/206), by [traversaro](https://github.com/traversaro)

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## MERGED PULL

[2019-02-25 08:01] #205 closed

[2019-02-28 19:11] cherullo commented on #129
Hi,

Just dropping by to say that @drdanz's fix is required and works when building gazebo for Windows using vcpkg and @traversaro's [gazebo-superbuild](https://github.com/traversaro/gazebo-superbuild).

Is there any way I can help?

[2019-02-28 20:24] traversaro commented on #129
Feel  free to open a PR with that fix @cherullo (btw, why are toolchains with `gazebo-superbuild`? vcpkg?).

[2019-02-28 20:26] traversaro commented on #129
If you are compiling Gazebo on Windows, pay attention that the fix for the issue described in https://github.com/ms-iot/ROSOnWindows/issues/47 still needs to be merged upstream.

[2019-03-01 17:43] cherullo commented on #129
I'm starting the compilation for Windows from scratch to better document the process.
I'll create the pull request as soon as I get to this issue again (which won't be long now).
Thanks for the heads-up on the IP issue!

[2019-03-03 01:26] weekly-digest[bot] opened #209 "Weekly Digest (24 February, 2019 - 3 March, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #208 [Pass CMAKE_TOOLCHAIN_FILE variable to subprojects](https://github.com/robotology/ycm/pull/208), by [cherullo](https://github.com/cherullo)

 - - -
# PULL REQUESTS
Last week, 2 pull requests were created, updated

[2019-03-04 12:14] PeterBowman opened #210 "YCM 0.10 and CONFIGURE_SOURCE_DIR vs SOURCE_SUBDIR"
I used to take advantage of the `CONFIGURE_SOURCE_DIR` option to `ycm_ep_helper()`, further propagated to the ExternalProject customized copy in cmake-next/proposed. This option is still handled in `ycm_ep_helper()` after https://github.com/robotology/ycm/commit/ae7e854a593bf13f48c67ecd3af4b2b23d79bd9c (see [this line](https://github.com/robotology/ycm/blob/1a231f296f859b4e476707fd655e5c5df7c98ce4

[2019-03-04 12:36] traversaro commented on #210
We are currently deprecating the codyco-superbuild and we do not have the `Buildorocos_kdl.cmake` in the robotology-superbuild , so I am afraid that is untested.

[2019-03-06 09:37] #207 closed

[2019-03-06 10:01] drdanz commented on #210
It is propagated, see

https://github.com/robotology/ycm/blob/1a231f296f859b4e476707fd655e5c5df7c98ce4/modules/YCMEPHelper.cmake#L913-L919

https://github.com/robotology/ycm/blob/1a231f296f859b4e476707fd655e5c5df7c98ce4/modules/YCMEPHelper.cmake#L990-L1000

I think that this used to be an extension of `ExternalProject`, I don't remember exactly (I don't even remember adding it, and git history is

[2019-03-06 12:36] PeterBowman commented on #210
I'm a bit baffled by how CMake treats local vs cached variables. I'm following [this example](http://robotology.github.io/ycm/gh-pages/git-master/manual/ycm-superbuild-example.7.html#superbuild-example-developer-point-of-view) regarding the required (for my use case) `YCM_USE_CMAKE_PROPOSED` var. In short, it boils down to:

[code]

Relevant lines on the YCM side:

https://github.com/robotology/yc

[2019-03-06 13:54] drdanz commented on #210
Hmm I think you are right. I tested this with every CMake version since 2.8.7:

[code]

The output is always `OFF` the first time and `ON` the second. I don't know if this was different in previous CMake versions, but 2.8.7 is old enough to let me think that that this never worked on the first execution.

Anyway, in my opinion the real problem is the documentation, but the fact that `YCM_USE_CMAKE

[2019-03-06 16:39] PeterBowman commented on #210
Thanks for taking a look at that. It strikes me that such behaviour is somewhat omitted in CMake docs ([v3.0](https://cmake.org/cmake/help/v3.0/command/set.html), [v3.14](https://cmake.org/cmake/help/latest/manual/cmake-language.7.html#cmake-language-variables)), or at least it's not clear enough to me.

To put this in context, I'm setting said YCM variable [here](https://github.com/roboticslab-uc

[2019-03-07 14:20] drdanz commented on #210
Fixed by #211

[2019-03-07 14:20] #210 closed

[2019-03-07 14:23] drdanz opened #212 "set(YCM_USE_CMAKE_PROPOSED ON) does not work at the first CMake execution"
Continuing discussion from #210

[2019-03-07 14:23] drdanz commented on #212
@PeterBowman wrote:

I'm a bit baffled by how CMake treats local vs cached variables. I'm following [this example](http://robotology.github.io/ycm/gh-pages/git-master/manual/ycm-superbuild-example.7.html#superbuild-example-developer-point-of-view) regarding the required (for my use case) `YCM_USE_CMAKE_PROPOSED` var. In short, it boils down to:

[code]

Relevant lines on the YCM side:

https://git

[2019-03-07 14:24] drdanz commented on #212
@drdanz wrote

Hmm I think you are right. I tested this with every CMake version since 2.8.7:

[code]

The output is always `OFF` the first time and `ON` the second. I don't know if this was different in previous CMake versions, but 2.8.7 is old enough to let me think that that this never worked on the first execution.

Anyway, in my opinion the real problem is the documentation, but the fact that

[2019-03-07 14:24] drdanz commented on #212
@PeterBowman wrote

Hmm I think you are right. I tested this with every CMake version since 2.8.7:

[code]

The output is always `OFF` the first time and `ON` the second. I don't know if this was different in previous CMake versions, but 2.8.7 is old enough to let me think that that this never worked on the first execution.

Anyway, in my opinion the real problem is the documentation, but the fact

[2019-03-07 14:25] drdanz commented on #210
@PeterBowman I opened #212 to track the `CACHE` issue on a separate issue

[2019-03-07 14:39] drdanz commented on #212
I think that at the very beginning, I was using `FORCE` as well, at least for the other variables, but for some reason I changed it. Anyway, until these variables are no longer cached, that's the right way to do it

[2019-03-10 01:26] weekly-digest[bot] opened #213 "Weekly Digest (3 March, 2019 - 10 March, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 2 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #212 [set(YCM_USE_CMAKE_PROPOSED ON) does not work at the first CMake execution](https://github.com/robotology/ycm/issues/212), by [drdanz](https://github.com/drdanz)
#

[2019-03-11 13:34] claudiofantacci commented on #212
I'm also facing this issue and I report that if I use `set(YCM_USE_CMAKE_PROPOSED ON)`, either before or after `find_package(YCM)`, the first CMake pass ignore the variable, while the second uses it _even though_ the GUI does not report it as enabled.

I think that hte CMake behaviour is explained in policy [CMP0077](https://cmake.org/cmake/help/latest/policy/CMP0077.html#policy:CMP0077).

[2019-03-12 22:59] traversaro commented on #93
I do not think it make sense, the lock is used to make sure that two instances of CMake do not call IncludeUrl on the same file at the same time, while it is totally ok for two instance of CMake to download two different file using IncludeUrl at the same time.

To be honest, I do not think thread safety when running two instance of cmake is a bit problem, and probably running two instance of cmake

[2019-03-13 14:54] drdanz commented on #93
That probably makes sense... I don't remember why I used to like it at the time, but it does not make sense anymore to me.

[2019-03-14 07:43] drdanz opened #215 "InstallBasicPackageFiles: FIRST_TARGET may be useless"
Using this mini-project (with CMake 3.13.4, I still have to ckeck older CMake versions)

[code]

The target file contains

[code]

This protects from multiple inclusion of the target file. Therefore it might not be necessary to add the check in the config file before including the target file, we could just include it, and CMake will do the rest.
This makes it completely useless to have the `FIRST

[2019-03-14 08:10] claudiofantacci commented on #215
This is very interesting. I find the `FIRST_TARGET` quite difficult to digest and to document in the `InstallBasicPackageFiles`. It would be a plus to get rid of it 👍

[2019-03-14 08:17] #209 closed

[2019-03-14 08:18] drdanz commented on #215
I totally agree!
Before removing it I want to make some tests, though.

[2019-03-14 08:26] claudiofantacci opened #216 "Wrong behaviour of InstallBasicPackageFile when using CMake older than 3.9"
_Originally posted by @giuliavezzani in https://github.com/robotology/superquadric-lib/issues/18#issuecomment-471959585_

I fixed the problem in [this commit](5aa536dd9c517c9fd428f005877f27d112df8ccf).
There was an undesired behavior in the [InstallBasicPackageFile.cmake](https://github.com/robotology/superquadric-lib/commit/5aa536dd9c517c9fd428f005877f27d112df8ccf#diff-1ea7d7a4904962c0ca3ab99a573

[2019-03-14 08:30] claudiofantacci commented on #216
[This is the diff](https://github.com/robotology/superquadric-lib/commit/5aa536dd9c517c9fd428f005877f27d112df8ccf#diff-1ea7d7a4904962c0ca3ab99a5738f67a) that fixed the problem.

If you have CMake version 3.9 or less (e.g. 3.5.1 in Xenial) and you call `InstallBasicPackageFile` passing a string to the `DEPENDENCIES` option (e.g. "VTK 8.1"), the generated config file turns out to be malformed becaus

[2019-03-14 09:07] traversaro commented on #215
The "Protect against multiple inclusion..." comment was present since CMake 2.8.12, so I think we are good  to go:
https://github.com/Kitware/CMake/commit/4b1919f73e7663799285171b472d76053fb99166

[2019-03-14 09:13] PeterBowman commented on #215
I recall struggling with this option because of https://github.com/robotology/ycm/issues/148, not sure if removing it would negatively affect current code somewhere (I'll check that later).

[2019-03-14 09:24] drdanz commented on #215
@PeterBowman I'm not planning to *remove* it, I'm planning to mark it as deprecated, and passing it will just print a deprecated warning, and do nothing.

[2019-03-14 09:29] drdanz commented on #215
BTW, the issue of not being able to read targets from the `EXPORT`, mentioned in https://github.com/robotology/ycm/issues/148#issuecomment-397408775 is probably no longer an issue.

[2019-03-14 13:52] drdanz commented on #177
@traversaro Is this fixed by #188?

[2019-03-14 13:56] drdanz commented on #129
Fixed by #208
Thanks @cherullo

[2019-03-14 13:56] #129 closed

[2019-03-14 13:58] drdanz commented on #68
I think this was fixed long time ago, please reopen if it is not

[2019-03-14 13:58] #68 closed

[2019-03-14 13:59] drdanz commented on #7
The FindDoxygen module is now imported by YCM, this can be closed

[2019-03-14 13:59] #7 closed

[2019-03-14 14:01] drdanz commented on #120
@traversaro Is this still an issue? All the releases we support have Eigen 3.3.2 or later

[2019-03-14 14:03] #136 closed

[2019-03-14 14:03] traversaro commented on #120
Unfortunately yes. Our own installers install Eigen3 without installing an Eigen3Config.cmake (see https://github.com/robotology/icub-packaging/issues/8). Clearly fixing that issue would be highly preferable, as it would solve several related problems in a lot of libraries, see https://github.com/robotology/osqp-eigen/pull/19#issuecomment-460623261 .

[2019-03-14 14:04] traversaro commented on #177
Yes.

[2019-03-14 14:04] #177 closed

[2019-03-14 14:11] #90 closed

[2019-03-14 14:12] drdanz commented on #66
Fixed by #188

[2019-03-14 14:12] #66 closed

[2019-03-14 14:15] drdanz commented on #22
Fixed by #188

[2019-03-14 14:16] drdanz commented on #22
Actually I'm not so sure this is fixed, we should test

[2019-03-14 14:18] drdanz commented on #3
CMake has the `CMAKE_POSITION_INDEPENDENT_CODE` variable and `POSITION_INDEPENDENT_CODE` property for this, This should be handled on a subproject level.

[2019-03-14 14:18] #3 closed

[2019-03-14 14:22] drdanz commented on #38
After using this method for a long time, I think downloading the dependencies as well is ok, closing this.

[2019-03-14 14:22] #38 closed

[2019-03-14 14:27] claudiofantacci commented on #120
So we will need to ship FindEigen3 with YCM, or am I wrong?
Just want to understand this and if I can help 😄

[2019-03-14 14:47] drdanz opened #218 "Bootstrap has issues in devel"
See robotology/robotology-superbuild#175

[2019-03-14 14:50] drdanz commented on #120
If the windows packaging is the only issue, I'd rather fix that...

[2019-03-14 14:59] claudiofantacci commented on #120
I totally agree! 👍

[2019-03-14 15:38] traversaro commented on #120
I totally agree as well.

[2019-03-15 12:24] drdanz commented on #120
Since we all agree, I'll close this as wontfix

[2019-03-15 12:38] drdanz opened #222 "Find modules overriding CMake ones"
The following modules override CMake modules:

* [ ] FindGLUT.cmake (Available in CMake 3.5)
* [ ] FindGSL.cmake (Available in CMake 3.5)
* [ ] FindOpenGL.cmake (Available in CMake 3.5, targets and other features in newer releases)
* [x] FindQt3.cmake (hopefully no longer used anywhere)

I think we should get rid of these, or move them in the proposed section if they have features missing in CMake

[2019-03-15 12:47] claudiofantacci commented on #222
Totally agree.

My two cents on
 - `FindGLUT`: the latest version seems really good and suitable for Windows. I think we can get rid of it here.
 - `FindOpenGL`: get it from the latest release or from CMake 3.10+. It has some nice targets, including nice ones for Linux.
 - `FindQt3`: lolwut? 🗑

[2019-03-15 12:58] drdanz commented on #222
We should check that the variables have the same names though (even though I hope that we can just get rid of `FindQt3`

Since we are doing this, we could also consider adding to `FindOctave.cmake` the same variables/targets as in the upstream [`FindOctave.cmake`](https://gitlab.kitware.com/cmake/cmake/blob/e6897c72e7c59f7a0b82ed19c1bdb40d42f7adaa/Modules/FindOctave.cmake) that was temporarily rem

[2019-03-15 13:01] traversaro commented on #120
We should still drop the FindEigen3.cmake that we currently install with YCM, right?

[2019-03-15 13:13] claudiofantacci opened #224 "Feature request: Findassimp.cmake"
Following https://github.com/robotology/superimpose-mesh-lib/issues/6, I propose to add `Findassimp.cmake` in YCM.
To give you an example, [here are](https://github.com/robotology/superimpose-mesh-lib/blob/ee1acab95f15a5d67b8b05a56378ed5d729b0345/src/SuperimposeMesh/CMakeLists.txt#L28-L71) the workaround that I have in `superimpose-mesh-lib`. Basically a `Findassimp` itself.

Please read [this com

[2019-03-15 13:15] drdanz commented on #120
Yes, but IIRC, the `FindEigen3.cmake` looks for `EigenConfig`, therefore I suppose that we can remove it quietly as soon as the packaging is fixed.
Anyway I'll reopen and rename this issue.

[2019-03-15 13:22] drdanz commented on #224
I don't know, but overriding the config file from upstream is not really recommended, and it will cause complications when upstream is fixed.
I recommend to fix it upstream and in the meanwhile add a module that exports the exact same variables and targets as the config file upstream, so that, as soon as we remove it, there won't be any need of a transition.

[2019-03-15 13:30] claudiofantacci commented on #224
Upstream is fixed, but not yet released officially.

I'm working on it 👍

[2019-03-15 13:34] drdanz commented on #57
Fixed by #220

[2019-03-15 13:34] #57 closed

[2019-03-15 13:34] drdanz commented on #212
Fixed by #220

[2019-03-15 13:34] #212 closed

[2019-03-15 13:35] drdanz commented on #212
@PeterBowman Please let me know if you still have issues with this.

[2019-03-15 13:39] drdanz commented on #83
I'd like to get rid of the file, but unfortunately it seems to be used in several places: https://github.com/search?q=YCMDefaultDirs&type=Code

Perhaps we should deprecate it and remove it in a second moment?

[2019-03-15 13:52] traversaro commented on #83
I agree.

[2019-03-15 14:07] drdanz commented on #83
Renaming issue.

[2019-03-15 14:59] claudiofantacci commented on #224
I implemented the first version of the `Findassimp.cmake`.
It needs to be plished a bit and we need to discuss few things.

To start off, the upstream config module is quite complicated.
Long story short, the config immediately and only calls [assimpTargets.cmake](https://github.com/assimp/assimp/blob/master/assimpTargets.cmake.in) that then calls [assimpTargets-Relese/Debug](https://github.com/as

[2019-03-18 11:02] PeterBowman commented on #212
I confirm that the *local* way to do this (`set(YCM_USE_CMAKE_PROPOSED ON)`) now works, indeed. Thanks!

[2019-03-18 13:28] claudiofantacci commented on #224
Implemented new version with `ASSIMP_ROOT_DIR`, `ASSIMP_LIBRARY_DIRS` and `ASSIMP_VERSION` [here](https://github.com/claudiofantacci/ycm/blob/impl/findassimp/find-modules/Findassimp.cmake).

[2019-03-19 08:55] drdanz commented on #93
Fixed in #228

[2019-03-19 08:55] #93 closed

[2019-03-22 09:55] claudiofantacci commented on #224
I'm going to refine the above-mentioned implementation and open a PR for this.

[2019-03-22 11:56] drdanz commented on #218
Turns out this is a huge problem for bootstrap, because the cache file is no longer generated with `file(WRITE)` but with `file(GENERATE)` (the name changed and it now uses `$<CONFIG>`.

[2019-03-22 11:58] drdanz commented on #218
See also [cmake@0273ef146972e0fbfbf399e468ae9d5f2b4bb3d3](https://gitlab.kitware.com/cmake/cmake/commit/0273ef146972e0fbfbf399e468ae9d5f2b4bb3d3)

[2019-03-22 14:35] drdanz commented on #218
Should be fixed by #230, please reopen if it is not

[2019-03-22 14:35] #218 closed

[2019-03-24 11:11] traversaro commented on #177
@Nicogene you had a related problem, right?

[2019-03-26 10:46] drdanz commented on #225
I think that `NON_INTERACTIVE_BUILD` and `YCM_EP_DEVEL_MODE_XXX` should not be used together...

from `YCMEPHelper.cmake`
[code]

`NON_INTERACTIVE_BUILD` is for CI, and similar, `YCM_EP_DEVEL_MODE_XXX` is for developers...

[2019-03-26 10:48] drdanz commented on #225
by the way, how does this work for repos that don't have a `-` in the name? I believe it should work in the same way, I couldn't find a problem related to `YCM_EP_DEVEL_MODE_XXX`

[2019-03-26 10:55] drdanz commented on #225
Perhaps it should be a `cmake_dependent_option` instead of an option, but if you set both from the command line, you won't get any feedback.
Maybe an error is better:

[code]

[2019-03-26 11:11] #224 closed

[2019-03-26 11:11] drdanz commented on #224
Fixed by #229

[2019-03-26 14:23] drdanz opened #232 "Update Build System Example documentation"
The TemplatePkg and TemplateExe repositories are no longer available.
Also they were outdated.
We could point to robotology/how-to-export-cpp-library instead.

[2019-03-26 15:10] drdanz commented on #29
Just adding this before any `install` command does the trick:

[code]

[2019-03-26 18:27] drdanz commented on #162
I don't like the idea of using `PROJECT_{SOURCE,BINARY}_DIR` instead in #233 I used `CMAKE_CURRENT_{SOURCE,BINARY}_DIR`. As a consequence, `InstallBasicPackageFiles` should be used in the main `CMakeLists.txt`

[2019-03-26 21:35] drdanz commented on #162
Fixed by #233

[2019-03-26 21:35] #162 closed

[2019-03-27 09:16] claudiofantacci commented on #216
I'd like to work on this.
I'm making a change in the file and open a PR.

[2019-03-27 09:54] drdanz commented on #83
Fixed by #234

[2019-03-27 09:54] #83 closed

[2019-03-27 10:04] drdanz commented on #105
Starting from the next release, along with the `-offline` version that should be used for packaging, I will add a `YCM-<ver>-all.tar.gz` file that will contain the "binary" release, that can probably be used with `FetchContent`

[2019-03-27 10:06] drdanz commented on #141
This is currently disabled. Closing this.

[2019-03-27 10:06] #141 closed

[2019-03-27 10:44] drdanz commented on #169
I just realized that these lines are supposed to do that, but that doesn't work in subdirectories.

https://github.com/robotology/ycm/blob/7c59d08b40c5e52cd1b4f5c6339a6f9b28b24cb9/modules/AddUninstallTarget.cmake#L30-L33

[2019-03-27 11:29] drdanz commented on #225
Added an error in 287f18d, feel free to reopen this issue if you thing it's not ok.

[2019-03-27 11:29] #225 closed

[2019-03-27 11:34] drdanz commented on #216
:heart:

[2019-03-27 14:43] drdanz commented on #18
Fixed in #235

[2019-03-27 14:43] #18 closed

[2019-03-27 14:43] drdanz commented on #215
Fixed in #236

[2019-03-27 14:43] #215 closed

[2019-03-27 14:54] claudiofantacci commented on #215
Awesome 🎉

Just to understand this correctly. We can **just** remove the `TARGET`/`TARGETS`/`FIRST_TARGET` provided that we used `EXPORT` for the target. Is it right?

[2019-03-27 15:32] drdanz commented on #169
In #237 I added a double check: `${CMAKE_CURRENT_SOURCE_DIR}` must be equal to `${CMAKE_SOURCE_DIR}`, and the `uninstall` target must not exist.
Please let me know what you think about this...

[2019-03-27 15:34] traversaro commented on #169
I am not sure, I think including `AddUninstallTarget` in a subdirectory of a project should be allowed.

[2019-03-27 19:53] drdanz commented on #169
That's what I thought at the beginning, but then I realised that it looks for the `install_manifest.txt` file in `CMAKE_CURRENT_BINARY_DIR`, that means it never worked. Now it is explicit...

[2019-03-27 20:09] traversaro commented on #169
Ah, good point!

[2019-03-27 20:10] traversaro commented on #169
Perhaps it should check for it in `CMAKE_BINARY_DIR`, as suggested in CMake FAQs: https://gitlab.kitware.com/cmake/community/wikis/FAQ#can-i-do-make-uninstall-with-cmake .

[2019-03-27 21:35] diegoferigo commented on #225
@drdanz I've missed the notifications of this issue during this past day.

I agree, but there are edge cases where developers need it in CI, and this issue (if I recall) reported something similar. In fact, this is the case when CI builds a docker image. You might want to select a different branch for some of the projects contained in a superbuild, and in the same time you don't want to store cred

[2019-03-28 07:10] drdanz commented on #169
Maybe, but in this case the command will not allow a build including the project using FetchContent to define the `uninstall` target, unless this is done *before* adding the project subdirectory.
This is not a problem if the importing project uses AddUninstallTarget, but it is a problem if someone wants to create a different/custom target.
Forcing the user to include it in the main `CMakeLists.txt

[2019-03-28 07:22] traversaro commented on #169
Indeed, this is a nice case of a problem that quickly become a feature!

[2019-03-28 07:48] drdanz commented on #169
BTW, it has been like this since the very beginning of YARP, see robotology/yarp@3faaba0974833d719ffe91768bb6c9cc13ba5032
Probably it was copied from some FAQ/Wiki that, at the time, was using `CMAKE_CURRENT_BINARY_DIR`

[2019-03-28 07:58] drdanz commented on #169
Found: https://cmake.org/Wiki/index.php?title=CMake_FAQ&oldid=36041#Can_I_do_.22make_uninstall.22_with_CMake.3F :rofl:

[2019-03-28 08:05] claudiofantacci commented on #166
_Original post https://github.com/robotology/yarp/issues/1829#issuecomment-412502099_

[2019-03-28 10:19] drdanz commented on #169
Fixed in #237

[2019-03-28 10:19] #169 closed

[2019-03-28 13:06] claudiofantacci opened #240 "Ninja build broken when using commands with $-escaped characters"
`ninja` build is broken with following error:
`ninja: error: build.ninja:244: bad $-escape (literal $ must be written as $$)`

The problem is the `--switch $(COLOR)` generated by CMake for the custom command in `AddUninstallTarget` and `YCMEPHelper`. Here is the list of such commands:
[code]

Possible solutions:
 1. Remove them
 2. use `$$\(COLOR\)`
 3. use `$\{COLOR\}`

Related issue https://gith

[2019-03-28 13:08] claudiofantacci commented on #240
cc @diegoferigo

[2019-03-28 14:41] drdanz commented on #240
Should be fixed in f2c61b1b9f5b2a7935bf79d1d43a68a218225804

[2019-03-28 14:41] #240 closed

[2019-03-28 15:07] drdanz commented on #222
`FindQt3` deprecated, if someone is still using it, it is time to switch to Qt5

[2019-03-28 15:08] #213 closed

[2019-04-07 18:13] weekly-digest[bot] opened #243 "Weekly Digest (31 March, 2019 - 7 April, 2019)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week 1 issue is closed.
## CLOSED ISSUE
:heart: #242 [Add FindGLM.cmake](https://github.com/robotology/ycm/pull/242), by [claudiofantacci](https://github.com/claudiofantacci)

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, [claudiofantacci](https:/

[2019-04-08 16:04] PeterBowman opened #244 "Superbuild dependencies in YCM v0.10.1 use build instead of install dir"
Tested on [roboticslab-uc3m/asibot-main](https://github.com/roboticslab-uc3m/asibot-main/tree/0259f65fb5c7043319ca0f8d0cc212f15d171b09), a superbuild-like project. Let's focus on the [ROBOTICSLAB_KINEMATICS_DYNAMICS subproject](https://github.com/roboticslab-uc3m/asibot-main/blob/0259f65fb5c7043319ca0f8d0cc212f15d171b09/cmake/ycm-modules/BuildROBOTICSLAB_KINEMATICS_DYNAMICS.cmake), which depends o

[2019-04-08 16:07] traversaro commented on #244
Can you copy&paste (even in a gist) the `CMakeCache.txt` of the superbuild and of the `KdlVectorConverterLib` subproject? Thanks.

[2019-04-08 16:16] traversaro commented on #244
It would be great to also get the CMake invocation command that configures the `KdlVectorConverterLib` lib.

[2019-04-08 16:28] PeterBowman commented on #244
YCM v0.10.1: [superbuild CMakeCache.txt](https://github.com/robotology/ycm/files/3055262/CMakeCache.txt), [ROBOTICSLAB_KINEMATICS_DYNAMICS CMakeCache.txt](https://github.com/robotology/ycm/files/3055290/CMakeCache.txt).

YCM v0.9.1: [superbuild CMakeCache.txt](https://github.com/robotology/ycm/files/3055263/CMakeCache.txt), [ROBOTICSLAB_KINEMATICS_DYNAMICS CMakeCache.txt](https://github.com/roboto

[2019-04-08 16:35] traversaro commented on #244
Sorry, then I meant the cmake configure of `ROBOTICSLAB_KINEMATICS_DYNAMICS` subproject . I guess it should be sufficient to run `VERBOSE=1 make ROBOTICSLAB_KINEMATICS_DYNAMICS`, and it should be printed just after the `Performing configure step for 'ROBOTICSLAB_KINEMATICS_DYNAMICS'` (save the output to a file and search if afterwards if it is too verbose).

[2019-04-08 16:45] PeterBowman commented on #244
Thanks, that would be `/root/git/asibot-main/build/external/ROBOTICSLAB_KINEMATICS_DYNAMICS/CMakeFiles/YCMTmp/ROBOTICSLAB_KINEMATICS_DYNAMICS-cache-.cmake` (for future reference). It's quite small, I'm copy-pasting its contents here:

[code]

With YCM v0.9.1:

[code]

[2019-04-16 15:18] xEnVrE opened #245 "Invalid escape sequence \. when calling install_basic_package_files"
**Description of the issue:**

I am trying to compile from source [this](https://github.com/robotology/superimpose-mesh-lib/tree/devel) package that requires `YCM 0.10.1`.

When I execute `cmake` I obtain the following error message

[code]
 I am using `Ubuntu 16.04` , `cmake 3.5.1` and last `master` branch of `ycm`.

[2019-04-17 06:51] drdanz commented on #245
This is the code causing this.

https://github.com/robotology/ycm/blob/ae223b18347a641873ca40aff482d15526ab9cde/modules/InstallBasicPackageFiles.cmake#L614-L629

@xEnVrE What version of CMake are you using?

CC @claudiofantacci

[2019-04-17 06:53] xEnVrE commented on #245
CMake 3.5.1

[2019-04-17 13:08] drdanz commented on #245
Weird, I cannot reproduce it with CMake 3.5.1 on debian

[2019-04-17 13:44] xEnVrE commented on #245
I have a fresh installation of `Ubuntu 16.04` somewhere. I will try again and let you know if it depends on my current configuration or if I get the same error again.

[2019-04-17 13:58] PeterBowman commented on #245
I think you are missing a slash, i.e. use `\\.` instead `\.` (inspired by https://github.com/kokkos/kokkos/issues/1661). Quick test with CMake 3.5.1:

[code]

Outputs:

[code]

However, If I `set(str "253")`:

[code]

So, literals need to be double-escaped with a `\\`.

[2019-04-17 14:12] drdanz commented on #245
Thanks @PeterBowman!
@xEnVrE can you please try replacing `\.` with `\\.` at lines 618 and 624?

[2019-04-17 14:20] xEnVrE commented on #245
Thanks @PeterBowman.

@drdanz it works with the suggested changes!

[2019-04-17 19:33] drdanz commented on #245
Thanks @xEnVrE and @PeterBowman!
Fixed in 41f9a1d735317c19b3ad5f911403792a0d8477fc.

[2019-04-17 19:33] #245 closed

[2019-04-17 23:52] PeterBowman commented on #244
I compared `build/external/*/CMakeCache.txt` for YCM v0.9.x and v0.10.x. The former sets `CMAKE_PREFIX_PATH` to `build/install`, whereas this variable remains unset in the latter case.

[2019-04-18 00:27] PeterBowman commented on #244
**YCM v0.9.1**

https://github.com/robotology/ycm/blob/b1f002f0fd7a0d48288abc5cf0d39c4c5a54ba76/modules/YCMEPHelper.cmake#L783-L792

The `build/install/` directory is appended to `_CMAKE_PREFIX_PATH` at line 784 and further set as a CLI option in `${_name}_YCM_CMAKE_ARGS`:

https://github.com/robotology/ycm/blob/b1f002f0fd7a0d48288abc5cf0d39c4c5a54ba76/modules/YCMEPHelper.cmake#L812-L816

**YCM v0

[2019-04-18 01:01] PeterBowman commented on #244
See https://github.com/robotology/ycm/pull/246.

[2019-04-18 09:20] #244 closed

[2019-04-21 13:59] PeterBowman opened #248 "FindPython modules require CMake 3.7+"
Any attempt to `find_package(Python)` on CMake <3.7 will result in:

[code]

Cause: https://github.com/robotology/ycm/commit/6bd35ad8f618f0da9df4cb982a25ed349fa55bc8 + `cmake_policy (VERSION 3.7)` ([ref](https://github.com/Kitware/CMake/blob/v3.12.4/Modules/FindPython/Support.cmake#L8)).

[2019-04-22 19:06] traversaro opened #250 "YCM-based superbuild does not work when cross-compiling with a toolchain that sets CMAKE_FIND_ROOT_PATH_MODE_PACKAGE to ONLY"
Some CMake toolchain for cross-compiling set the [`CMAKE_FIND_ROOT_PATH_MODE_PACKAGE`](https://cmake.org/cmake/help/v3.14/variable/CMAKE_FIND_ROOT_PATH_MODE_PACKAGE.html) CMake variable to `ONLY`  . For an example of such toolchain, see [Emscripten](http://emscripten.org/)'s one at : https://github.com/emscripten-core/emscripten/blob/1.38.30/cmake/Modules/Platform/Emscripten.cmake#L189 .

When thi

[2019-04-22 19:12] traversaro commented on #250
Related conan issue: https://github.com/conan-io/conan/issues/4967 .

[2019-04-23 07:33] drdanz commented on #248
In #251 I simply replaced

[code]

I didn't get any error with CMake 3.5, but I cannot guarantee that this won't have any side effects.
@PeterBowman do you have any project where you can try this?

[2019-04-23 10:19] PeterBowman commented on #248
@drdanz it works for me with CMake 3.5, too, thanks!

[2019-04-23 12:21] #248 closed

[2019-04-23 12:21] drdanz commented on #248
Perfect, thanks! Merged #251

[2019-04-29 14:07] traversaro opened #252 "Disable YCMEPHelper install target"
For a long time, YCM-based superbuild did not have any `install` target. For several reasons, it may be convenient to avoid generating an `install` target. @drdanz do you think it could make sense to have something like an option/variable to toggle this?

cc @Giulero @gabrielenava

[2019-05-03 09:10] traversaro commented on #54
Fixed by https://github.com/robotology/ycm/pull/140 ?

[2019-05-03 16:33] traversaro opened #254 "Latest YCM devel of robotology-superbuild on Travis with Docker blocks during bootstrap on "Performing build step for 'YCM''"
See https://travis-ci.org/robotology/robotology-superbuild/builds/527715806 . Until yesterday, everything went fine. I already restarted a job, and the same problem appeared again.

I wonder if the problem is related to this commit: https://github.com/robotology/ycm/commit/912e0d6f9ac5d54b3206f31c152eaa84e121893c

[2019-05-03 16:49] traversaro commented on #254
Apparently the problem is there also with v0.10.2 (see https://travis-ci.org/robotology/robotology-superbuild/builds/527850737?utm_source=github_status&utm_medium=notification), so the problem is probably some weird Travis problem in accessing one of the remote repos used in the YCM bootstrap (ref https://github.com/robotology/ycm/issues/105).

[2019-05-03 16:52] traversaro commented on #254
I am unable to reproduce the problem on my local machine.

[2019-05-03 17:08] traversaro commented on #254
I enabled `YCM_BOOSTRAP_VERBOSE` in a test build (https://github.com/robotology/robotology-superbuild/pull/201) and apparently the problem is some strange interaction of CMake's git repo and Travis. The line
[code]
took ~2/3 minutes, and now the build seems stuck to:
[code]
see https://travis-ci.org/robotology/robotology-superbuild/jobs/527863239 .

[2019-05-03 17:17] traversaro commented on #254
Related tweets:
* https://twitter.com/SleevelessZach/status/1124323582337867777
* https://twitter.com/beaugunderson/status/1124336607333535745

[2019-05-03 17:27] beaugunderson commented on #254
i'm in contact with travis support and will let y'all know if i hear anything useful from them :)

[2019-05-03 17:27] traversaro commented on #254
I tried  replicating the issue on ycm's Travis, but apparently everything is working correctly there. Probably the issue is related to the fact the the robotology-superbuild Travis build is working inside a docker container.

[2019-05-03 17:28] traversaro commented on #254
Thanks a lot @beaugunderson !

[2019-05-03 17:29] beaugunderson commented on #254
if you want to contact their support as well you can reference our support ticket so they can cross-reference it; it's 6994

[2019-05-03 17:58] zak10 commented on #254
I'm not familiar at all with this repository, but my builds have also been getting stuck and timing out. Strangely, it happens during different stages and it is only for one of my repositories. I reran builds from old commits that were fine and those are also breaking so assuming this is a travis problem.

Running a python 3.6 container, tests via docker compose.

[2019-05-03 18:07] beaugunderson commented on #254
fwiw we also use docker/docker-compose in our tests...

[2019-05-03 19:24] zak10 commented on #254
@beaugunderson do your tests run in multiple threads?

[2019-05-03 20:44] beaugunderson commented on #254
@zak10 yup, we use gnu `parallel`

[2019-05-04 11:43] alex commented on #254
I'm also experiencing this issue -- also in docker builds.

[2019-05-04 14:39] zak10 commented on #254
We're using pytest + xdist to run tests in parallel. I'm attempting now to remove xdist completely to see if that alleviates the issue.

[2019-05-05 20:52] PeterBowman commented on #105
This is particularly annoying since 3rd-party UseLatex.cmake module was introduced in YCM v0.10. I managed to reproduce and inspect [this error](https://travis-ci.org/roboticslab-uc3m/openrave-yarp-plugins/jobs/526210662#L1121) locally - the downloaded file is either incomplete or empty. Note that we don't bootstrap YCM itself, this happens on a cloned YCM repository, during the build phase.

[2019-05-06 07:11] traversaro commented on #216
Fixed by https://github.com/robotology/ycm/pull/238 ?

[2019-05-06 07:20] claudiofantacci commented on #216
Absolutely. Thanks @traversaro!

Closing 🚀

[2019-05-06 07:20] #216 closed

[2019-05-06 16:10] beaugunderson commented on #254
still no response from travis since last thursday :(

[2019-05-06 16:29] beaugunderson commented on #254
currently trying to force `dist: xenial` and see if that has any effect, will report back...

[2019-05-06 16:57] beaugunderson commented on #254
i feel like this fundamentally misunderstands the issue, sadly

[2019-05-06 17:01] beaugunderson commented on #254
`dist: xenial` did not help, FYI

[2019-05-06 17:27] zak10 commented on #254
yep - got the same canned response from them. at least they're acknowledging the issue now. unfortunately for them, I've already begun the process of migrating to Circle.

best of luck!

[2019-05-06 18:17] traversaro commented on #254
I tried the `--network=host` workaround mentioned in https://www.traviscistatus.com/incidents/kyf149kl6bvp in https://travis-ci.org/robotology/robotology-superbuild/jobs/528940445, and it seems to be working.

[2019-05-06 18:48] beaugunderson commented on #254
awesome @traversaro; i'm trying that now as well (slightly more complicated with docker-compose, but it seems like `network_mode: ${NETWORK_MODE:-bridge}` inside the `build:` option would work, and then specifying `NETWORK_MODE=host` for travis builds

[2019-05-06 19:21] beaugunderson commented on #254
this is more of a pain than i thought, especially if you already use `networks`...

[2019-05-07 06:27] traversaro commented on #254
Related issue: https://github.com/ros-industrial/industrial_ci/issues/364 .

[2019-05-08 16:56] beaugunderson commented on #254
travis is claiming that this issue is fixed but we're still getting 100% failures... around the time they were testing fixes we got a few passes, so it certainly improved for a small period of time, but now it's broken again and i'm having a hard time getting their support to do anything about it

[2019-05-08 17:08] traversaro commented on #254
On our side, in the last day all the build that were affected by that (see https://travis-ci.org/robotology/robotology-superbuild/jobs/529722072) are working correctly. Given @beaugunderson input, probably it make sense to monitor a bit more for possible failures.

[2019-05-10 06:30] drdanz commented on #252
To be honest, I'm against this... Having people trying the install, even if it does not work, means more bug reports to the subprojects, and in the end, an improvement to the overall code quality.

[2019-05-10 06:31] drdanz commented on #54
:+1:
Closing, thanks

[2019-05-10 06:31] #54 closed

[2019-05-11 16:28] traversaro commented on #252
The  main problem (at least regarding the robotology-superbuild) is that the `install` target needs to be properly documented, added support for it in the configuration scripts, add an uninstall target, and finally the users need to be educated on its use. I am happy to eventually do that, but in the transition period it is less error prone for users to just avoid to generate the `install` target,

[2019-05-13 07:48] drdanz commented on #252
I think you can disable the `install` target in your project by just doing something like this before including any subproject:

[code]

[2019-05-13 08:27] traversaro commented on #252
Ack, I agree, it does not make sense to add further complexity to `YCMEpHelper` .

[2019-05-13 08:27] #252 closed

[2019-05-17 08:23] traversaro commented on #254
On our side, we did not observed Travis failures related to this in the past week. I think we can close the issue, at least for what concern YCM and its bootstrap.

[2019-05-17 08:23] #254 closed

[2019-06-01 06:33] weekly-digest[bot] opened #255 "Weekly Digest (25 May, 2019 - 1 June, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were 8 commits.
:hammer_and_wrench: [Prepare for next minor release (YCM 0.10.4)](https://github.com/robotology/ycm/commit/003e152615d949ced7

[2019-06-03 14:56] PeterBowman opened #256 "UseSWIG module requires CMake 3.14+"
Commit https://github.com/robotology/ycm/commit/d8fc9ff7611aa6a8f4e159ca746268812e097a25 started fetching UseSWIG.cmake module from CMake 3.14.4 (was 3.8.2). This module requires CMake 3.14+, see [these lines](https://github.com/Kitware/CMake/blob/v3.14.4/Modules/UseSWIG.cmake#L237-L240) ([CMP0078](https://cmake.org/cmake/help/v3.14/policy/CMP0078.html) and [CMP0086](https://cmake.org/cmake/help/v

[2019-06-03 16:08] #243 closed

[2019-06-04 10:08] #256 closed

[2019-06-04 10:09] drdanz commented on #256
@PeterBowman Should be fixed in master, can you please let me know if you still have issues?
I also added a few unit tests to test that cmake-next and 3rd party files can be at least included, it should avoid a few of these issues...

[2019-06-04 10:20] PeterBowman commented on #256
Hi, @drdanz. Looks good, thanks, but CMake keeps finding the "old" (upstream) UseSWIG.cmake. I think the patched local version gets overwritten in the download step, so this line should be removed:

https://github.com/robotology/ycm/blob/6056bae91c34ad78608b05e1790562de07855195/cmake-next/CMakeLists.txt#L287

[2019-06-04 11:34] drdanz commented on #256
Sorry, I forgot about that, I don't know why I didn't have any issue. It should be working now...

[2019-06-04 11:44] PeterBowman commented on #256
This module still requires a recent version of CMake. I'm trying to configure latest YARP devel with `-DYARP_COMPILE_BINDINGS=ON -DCREATE_PYTHON=ON`, these errors show up:

[code]

Perhaps only the first error is meaningful, `list(JOIN)` was added in CMake 3.12 ([docs](https://cmake.org/cmake/help/v3.12/command/list.html)).

[2019-06-04 13:59] drdanz commented on #256
This time it was quite hard! :rofl:
It should be fixed for real this time

[2019-06-04 15:23] PeterBowman commented on #256
Almost there, CMake does not complain anymore :). Generation seems broken, though:

[code]

[2019-06-05 06:21] drdanz commented on #256
Sorry, I cannot reproduce it with CMake 3.5.2...
Copying all the files in `<ycm_build_dir>/share/YCM/cmake-next/Modules` in `<yarp_source_dir>/cmake`:

[code]

I don't have the `yarp_python_swig_compilation` target though, my target name is `_yarp_python`

[2019-06-05 09:34] PeterBowman commented on #256
Thank you for your effort and patience :). This time it's a bit different, perhaps linked to some stray configuration (although I erased everything in the build dir):

[code]

This is latest devel, Python 3.5.2 and SWIG 3.0.8. I'll try on another machine.

[2019-06-05 09:45] drdanz commented on #256
can you please try with `VERBOSE=1 make yarp_python_swig_compilation` and post the command line as well?

[2019-06-05 11:06] PeterBowman commented on #256
The `yarp_python_swig_compilation` target builds successfully, I'm unable to `make all`. Verbose output (the last few lines that show an error):

[code]

That `Dlib/python/yarpPYTHON_wrap.cxxTARGET_PROPERTY:_yarp_python,SWIG_GENERATED_COMPILE_DEFINITIONS>` looks suspicious...

[2019-06-05 11:41] PeterBowman commented on #256
In fact, this generator expression does not get expanded: [ref](https://github.com/robotology/ycm/blob/5dbda4df81a93545ee2036d02bcf79bd8194e5e9/cmake-next/v3.14.4/UseSWIG.cmake#L415). See [cmake-generator-expressions.7.html#string-transformations](https://cmake.org/cmake/help/latest/manual/cmake-generator-expressions.7.html#string-transformations):

[2019-06-06 06:35] drdanz commented on #256
This time I managed to do a full YARP build. I have no idea how to support ``SWIG_GENERATED_INCLUDE_DIRECTORIES``, ``SWIG_GENERATED_COMPILE_DEFINITIONS`` and ``SWIG_GENERATED_COMPILE_OPTIONS`` though, therefore I disabled them in CMake < 3.12...
They are not used in YARP though

[2019-06-06 09:33] drdanz commented on #256
@PeterBowman I'm planning to do yet another fix release tomorrow, please let me know if you still have issues

[2019-06-06 10:03] PeterBowman commented on #256
@drdanz I can confirm it works now (YARP v3.1.1 and latest devel, CMake 3.5.1, Python 2.x and 3.x), thanks! Please mind https://github.com/robotology/yarp/issues/2037 upon importing YCM in YARP.

[2019-06-08 06:33] weekly-digest[bot] opened #257 "Weekly Digest (1 June, 2019 - 8 June, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #256 [UseSWIG module requires CMake 3.14+](https://github.com/robotology/ycm/issues/256), by [PeterBowman](https://github.com/PeterBowman)
## LIKED ISSUE
:+1: #256 [UseSWIG module requires CMake 3.14+](https://github.com/

[2019-06-12 05:54] #255 closed

[2019-06-15 06:33] weekly-digest[bot] opened #258 "Weekly Digest (8 June, 2019 - 15 June, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there was 1 stargazer.
:star: [g

[2019-06-20 13:40] #257 closed

[2019-06-22 06:33] weekly-digest[bot] opened #259 "Weekly Digest (15 June, 2019 - 22 June, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2019-06-22 09:47] #258 closed

[2019-07-29 06:11] drdanz opened #260 "Port documentation to use sphinx-contrib instead of custom stuff copied from CMake"
https://bitbucket.org/birkenfeld/sphinx-contrib/src/default/cmakedomain/

[2019-07-29 06:11] #259 closed

[2019-07-31 08:50] drdanz opened #261 "Bump CMake Requirement"
According to [our policies](https://wiki.icub.org/wiki/YARP_Supported_Distributions), we can now drop CMake 3.5 on the devel branch.

I'd like to require at least CMake 3.11, but, unfortunately:

1) Debian stretch (oldstable) has CMake 3.7.2.
2) Ubuntu bionic 18.04 LTS has CMake 3.10.2.

If we consider our current policies we should switch to 3.7. Not really a big advantage (probably nothing at al

[2019-07-31 09:57] Nicogene commented on #261
Add a source to apt/source.list I don't think it is a big trouble, we have to add it in the installation instruction as requirement.

[2019-07-31 12:01] traversaro commented on #261
I am not a big fan of requiring newer non-system versions of system dependencies, because typically this drastically complicates the use of a project combined together with other projects that also require (typically different) newer non-system version of system dependencies (Tensorflow and similar are a good example of this kind of patterns).

However, considering that:
* the alternative is to sp

[2019-07-31 12:31] PeterBowman commented on #261
On a side note, Ubuntu 16.04 (Xenial) images on Travis CI use CMake 3.12.4 ([ref](https://docs.travis-ci.com/user/reference/xenial/#compilers-and-build-toolchain)).

[2019-08-05 14:26] mbeutel opened #262 "Conditionally export build directory to user package registry"
`install_basic_package_files()` has great support for generating build-directory config files but doesn't currently export the build directory to the user package registry with [`export(PACKAGE)`](https://cmake.org/cmake/help/latest/command/export.html).

CMake 3.15 will change the behavior of `export(PACKAGE)` by introducing a new variable `CMAKE_EXPORT_PACKAGE_REGISTRY` and having `export(PACKAG

[2019-08-05 14:54] mbeutel opened #263 "`install_basic_package_files()`: add `NO_EXPORT` option"
`install_basic_package_files()` currently requires an export to be specified. However, sometimes we want to install but don't have an export set or any targets to export, e.g. in a CMake script library such as YCM itself.

Would you consider adding a `NO_EXPORT` option to `install_basic_package_files()` which makes it skip the `install()` and `export()` commands related to the export set? I'd be h

[2019-08-05 15:27] mbeutel opened #264 "Exported build directories: check build configuration"
When using `export(PACKAGE)` to export a build directory to the user package registry, CMake will find the exported build directory in `find_package()` calls of other packages. This is very convenient when simultaneously working on a library and on a project consuming the library.

CMake defines a mechanism for mapping build configurations for imported targets. This means that a project can be ins

[2019-08-06 06:21] drdanz commented on #262
Sounds good to me, I'd just change
[code]
so that it will be easier to spot and remove it when we will stop supporting CMake < 3.15

[2019-08-06 06:25] drdanz commented on #263
Looks useful, thanks for the suggestion. It would be great to see `InstallBasicPackageFiles` used in YCM itself.
If you want to provide a pull request I'll be happy to merge it.

[2019-08-06 06:42] drdanz commented on #264
I agree that this could be a problem, but I'm not really sure that this should belong to `InstallBasicPackageFiles`...
The version handling is forwarded to the [`write_basic_package_version_file`](https://cmake.org/cmake/help/latest/module/CMakePackageConfigHelpers.html#command:write_basic_package_version_file) command from [`CMakePackageConfigHelpers`](https://cmake.org/cmake/help/latest/module/C

[2019-08-06 06:52] drdanz opened #266 "InstallBasicPackageFile: Set COMPATIBILITY default to SameMajorVersion"
`install_basic_package_file` `COMPATIBILITY` option should default to `SameMajorVersion`, since this is what most projects want (semantic versioning) and the upstream naming policy is not very intuitive.
By setting a good default, we will save lots of lines of code, and make life easier for some developers :stuck_out_tongue_closed_eyes:

[2019-08-06 06:59] traversaro commented on #262
I do not think we can avoid to call `export(PACKAGE ${_Name})` for CMake >= 3.15, as even if CMP0090 is set to TRUE and `CMAKE_EXPORT_PACKAGE_REGISTRY` is set to `ON`, `export(PACKAGE ${_Name})` needs to be explicitly called to populate the user package registry.

[2019-08-06 07:04] drdanz opened #267 "InstallBasicPackageFiles: change default for NO_SET_AND_CHECK_MACRO and NO_CHECK_REQUIRED_COMPONENTS_MACRO"
At the moment the `NO_SET_AND_CHECK_MACRO` and `NO_CHECK_REQUIRED_COMPONENTS_MACRO` can be used to disable some parts of code generated by [`configure_package_config_file`](https://cmake.org/cmake/help/latest/module/CMakePackageConfigHelpers.html#command:configure_package_config_file).
For the basic `install_basic_package_file` usage, these parts of code are not useful though, and therefore these

[2019-08-06 07:11] drdanz commented on #262
The proposed change above is supposed to *always* call `export(PACKAGE ${_Name})` for CMake >= 3.15, or to call it depending on `CMAKE_EXPORT_PACKAGE_REGISTRY` on older releases.
Sorry if the `NOT VERSION_LESS` is confusing, but `VERSION_GREATER_EQUAL` was added in CMake 3.7 (if I remeber correctly), and until we make a decision on #261 we cannot use it...

[2019-08-06 07:17] traversaro commented on #262
Ah ok, I understood that you wanted the call to `export(..)`, my bad.

[2019-08-06 09:38] PeterBowman commented on #267
Corner case: the config file `include()`s a file in which `set_and_check()` is used.

[2019-08-06 10:31] mbeutel commented on #264
Of course this is just a workaround, not a proper solution.

True, `write_basic_package_version_file()` is not really configurable, hence what I currently do is to generate an unaltered version file with `write_basic_package_version_file()` with the desired `COMPATIBILITY` and `ARCH_INDEPENDENT` settings and then `include()` it in my wrapper file.

Because `install_basic_package_files()` doesn't o

[2019-08-06 11:42] mbeutel commented on #264
Cf. https://gitlab.kitware.com/cmake/cmake/issues/19563

[2019-08-07 12:48] drdanz commented on #267
@PeterBowman I've never seen it, but I assume it is possible... So perhaps we could have the detection, but also the `FORCE_SET_AND_CHECK_MACRO` and `FORCE_CHECK_REQUIRED_COMPONENTS_MACRO` options to skip the detection and just add it...

[2019-08-07 14:02] mbeutel commented on #264
Feedback summary: this could be fixed on the CMake side, but the package registry was never designed to handle this, and `CMP0090` "effectively removes it by default".

So perhaps it's better to adjust my workflow to avoid the package registry entirely, and teach others accordingly.

[2019-08-07 14:30] #264 closed

[2019-08-14 06:24] drdanz commented on #263
Merged, thanks! And thanks for adding the YCM installation part! :heart_eyes:

[2019-08-14 06:26] drdanz commented on #263
Fixed by @mbeutel in #268

[2019-08-14 06:26] #263 closed

[2019-08-14 06:27] drdanz commented on #262
Fixed by @mbeutel in #269.

[2019-08-14 06:27] #262 closed

[2019-08-14 07:22] drdanz commented on #40
I'd like to resume the discussion about renaming YCM, since this has some impact on debian packaging, by adding a few considerations:

* The YCM acronym is somehow "taken" by YouCompleteMe, even though there is no `ycm` package.
* Apparently there is not a very clean convention for naming/find_package, the other cmake-modules available in debian are:
  * `extra-cmake-modules` - KDE (`find_package(

[2019-08-14 07:27] traversaro commented on #40
What about a good old recursive acronym?
Debian package: `ycm-cmake-modules`
CMake package: `YCM`

[2019-08-14 12:52] drdanz commented on #40
I like the recursive acronym, that's probably the best way to handle the search

[2019-08-14 13:32] traversaro commented on #40
If the `ycm-` part is still confusing, we can just choose a good adjective that start with `y` https://adjectivesstarting.com/with-y/:
* `yummy-cmake-modules`
* `yonder-cmake-modules`
* `yogistic-cmake-modules`

[2019-08-14 14:04] drdanz commented on #40
I was just thinking about
* [yob](https://www.wordreference.com/enit/yob)-cmake-modules
* [yokel](https://www.wordreference.com/enit/yokel)-cmake-modules

Anyway, I opened https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=934757, if I don't get any objection, I'll just stick with current name...

[2019-08-16 15:21] mbeutel opened #272 "Idea: semantic target compile settings"
Modern CMake has introduced abstractions for many compiler options to make it easier to write compiler-agnostic build scripts. For example, when compiling for C++17, instead of writing

[code]

we can now focus on the semantics and have CMake supply the compiler-specific switch:
[code]

Unfortunately, no such abstraction currently exists for most other compiler switches. And some of them are (or r

[2019-08-17 10:48] weekly-digest[bot] opened #273 "Weekly Digest (10 August, 2019 - 17 August, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #272 [Idea: semantic target compile settings](https://github.com/robotology/ycm/issues/272), by [mbeutel](https://github.com/mbeutel)
## CLOSED ISSUES
:heart: #271 [Fix

[2019-08-20 15:05] claudiofantacci commented on #40
I really like `ycm-cmake-modules` as candidate name: there is little to no extra words to remember, sounds just nice and it will ease any string search. Further, the prefix `y` will always be nice historical reference to `YARP`, not to any fancy word, and will may be subject to interesting speculations from newbies 🤣

[2019-08-24 10:48] weekly-digest[bot] opened #275 "Weekly Digest (17 August, 2019 - 24 August, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #274 [InstallBasicPackageFiles: fix missing bracket in include statement](https://github.com/robotology/ycm/pull/274), by [traversaro](https://github.com/traversaro)
## NOISY ISSUE
:speaker: #274 [InstallBasicPackageFiles

[2019-08-31 10:48] weekly-digest[bot] opened #277 "Weekly Digest (24 August, 2019 - 31 August, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #276 [FindIPOPT: avoid hardcoding IPOPT_INCLUDE_DIRS to  ${IPOPT_DIR}/include/coin](https://github.com/robotology/ycm/pull/276), by [traversaro](https://github.com/traversaro)
## LIKED ISSUE
:+1: #276 [FindIPOPT: avoi

[2019-09-02 17:16] #275 closed

[2019-09-02 17:16] #273 closed

[2019-09-07 10:47] weekly-digest[bot] opened #280 "Weekly Digest (31 August, 2019 - 7 September, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 2 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #279 [Test rebase action](https://github.com/robotology/ycm/pull/279), by [drdanz](https://github.com/drdanz)
:heart: #278 [Test rebase action](https://github.com/robotolog

[2019-09-14 10:47] weekly-digest[bot] opened #282 "Weekly Digest (7 September, 2019 - 14 September, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #281 [FindIPOPT: Remove use of NO_DEFAULT_PATH](https://github.com/robotology/ycm/pull/281), by [traversaro](https://github.com/traversaro)

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or mer

[2019-09-16 13:01] #277 closed

[2019-09-16 13:01] #280 closed

[2019-09-21 10:47] weekly-digest[bot] opened #283 "Weekly Digest (14 September, 2019 - 21 September, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## MERGED PULL REQUEST
Last week, 1 pull request was merged.
:purple_heart: #281 [FindIPOPT: Remove use of NO_DEFAULT_PATH](https://github.com/robotology/ycm/pull/281), by [trave

[2019-09-23 12:21] #282 closed

[2019-09-28 07:23] weekly-digest[bot] opened #284 "Weekly Digest (21 September, 2019 - 28 September, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were 19 commits.
:hammer_and_wrench: [CI: Use ACCESS_TOKEN variable instead of GITHUB_TOKEN](https://github.com/robotology/ycm/commit/1a77709

[2019-10-02 12:36] #283 closed

[2019-10-02 12:37] drdanz commented on #261
For reference, it was decided to make an exception and go for CMake 3.12.

[2019-10-04 09:19] drdanz commented on #261
Closed by #285

[2019-10-04 09:19] #261 closed

[2019-10-05 07:23] weekly-digest[bot] opened #286 "Weekly Digest (28 September, 2019 - 5 October, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #285 [Require CMake 3.12](https://github.com/robotology/ycm/pull/285), by [drdanz](https://github.com/drdanz)
## NOISY ISSUE
:speaker: #285 [Require CMake 3.12](https://github.com/robotology/ycm/pull/285), by [drdanz](htt

[2019-10-12 07:23] weekly-digest[bot] opened #287 "Weekly Digest (5 October, 2019 - 12 October, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2019-10-14 12:58] #284 closed

[2019-10-14 12:58] #286 closed

[2019-10-19 07:23] weekly-digest[bot] opened #288 "Weekly Digest (12 October, 2019 - 19 October, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2019-10-23 13:20] #287 closed

[2019-10-25 08:59] traversaro opened #290 "In YCM 0.10.4 bootstrapping is broken when using a generator different from the default one"
If you try to build the current master of the robotology-superbuild with a generator different from the default one on Ubuntu 18.04 and macOS 10.14, you will get an error related to the YCM bootstrapped project, that for some reason was instead build with the default generator.

For example, when building the superbuild with -GNinja in Ubuntu 18.04 , this is the error that you get:
[code]

Related

[2019-10-26 10:47] weekly-digest[bot] opened #291 "Weekly Digest (19 October, 2019 - 26 October, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #290 [In YCM 0.10.4 bootstrapping is broken when using a generator different from the default one](https://github.com/robotology/ycm/issues/290), by [traversaro](https:

[2019-10-27 08:54] traversaro opened #292 "AddInstallRPATHSupport: add option to completly disable rpath configuration"
In some configurations, having an option to completely disable the rpath configuration may be useful, see https://www.reddit.com/r/cpp/comments/dnc0n2/how_to_export_c_library_an_osagnostic_c_library/f5bditk/ for more context.

[2019-10-27 12:56] drdanz commented on #292
IIRC, this is supported using [`CMAKE_SKIP_RPATH`](https://cmake.org/cmake/help/latest/variable/CMAKE_SKIP_RPATH.html), [`CMAKE_SKIP_INSTALL_RPATH`](https://cmake.org/cmake/help/latest/variable/CMAKE_SKIP_INSTALL_RPATH.html), and [`CMAKE_SKIP_BUILD_RPATH`](https://cmake.org/cmake/help/latest/variable/CMAKE_SKIP_BUILD_RPATH.html)

[2019-10-27 18:30] traversaro commented on #292
I may be wrong, but for all possible values of those libraries `CMAKE_INSTALL_NAME_DIR` is always modified in https://github.com/robotology/ycm/blob/master/modules/AddInstallRPATHSupport.cmake ?

[2019-10-28 20:02] drdanz commented on #292
That's Apple only stuff, and if I remember correctly, it must be enabled, or there will be issues, see https://gitlab.kitware.com/cmake/cmake/issues/16589

[2019-10-28 20:10] traversaro commented on #292
Ok, thanks for the info, I think we can close the issue then.

[2019-10-29 07:40] #288 closed

[2019-10-29 07:41] #292 closed

[2019-10-29 15:10] drdanz commented on #290
As discussed, I think we should work on dropping the bootstrap phase, and use `FetchContent` instead, however in the meanwhile, if someone wants to  work on this, patches are welcome

[2019-11-02 10:48] weekly-digest[bot] opened #293 "Weekly Digest (26 October, 2019 - 2 November, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #292 [AddInstallRPATHSupport: add option to completly disable rpath configuration](https://github.com/robotology/ycm/issues/292), by [traversaro](https://github.com/traversaro)
## NOISY ISSUE
:speaker: #292 [AddInstallRPA

[2019-11-04 11:50] traversaro commented on #290
My super-basic understanding is that something is going wrong around https://github.com/robotology/ycm/blob/v0.10.4/modules/YCMEPHelper.cmake#L1373 , probably one of the `string(REGEX REPLACE <...>)` is erroneously also removing the `;-G<Generator>;` part from `YCM-cfgcmd.txt` file.

cc @nunoguedelha

Related PRs:
* https://github.com/robotology/ycm/pull/230

[2019-11-06 16:32] traversaro commented on #290
According to my test, the `devel` branch seems not to be affected by this bug.

[2019-11-06 16:42] traversaro commented on #290
The commit https://github.com/robotology/ycm/commit/01f2fff00bd181009d511ec1df6c42ea40052705 works fine, only if used with CMake 3.15 . With CMake 3.12, it fails as the v0.10.4 tag.

[2019-11-06 19:59] traversaro commented on #290
Actually the problem still seems to be there with the latest devel commit with CMake 3.15 in macOS, see https://github.com/robotology/robotology-superbuild/runs/291435462 .

[2019-11-06 20:37] traversaro commented on #290
Bingo:
[code]

[2019-11-06 21:37] traversaro commented on #290
Fix provided in https://github.com/robotology/ycm/pull/294 .

[2019-11-09 10:47] weekly-digest[bot] opened #295 "Weekly Digest (2 November, 2019 - 9 November, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #294 [Fix issue 290 for which the default generator was always used by the bootstrapped YCM](https://github.com/robotology/ycm/pull/294), by [traversaro](https://github.com/traversaro)

 - - -
# PULL REQUESTS
Last wee

[2019-11-13 10:48] #290 closed

[2019-11-13 10:50] #293 closed

[2019-11-13 10:50] #291 closed

[2019-11-16 10:47] weekly-digest[bot] opened #297 "Weekly Digest (9 November, 2019 - 16 November, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #296 [Fix FindTinyXML.cmake script to work fine with vcpkg's installed tinyxml](https://github.com/robotology/ycm/pull/296), by [traversaro](https://github.com/traversaro)

 - - -
# PULL REQUESTS
Last week, 2 pull request

[2019-11-17 10:46] #295 closed

[2019-11-23 10:47] weekly-digest[bot] opened #298 "Weekly Digest (16 November, 2019 - 23 November, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2019-11-28 09:54] #297 closed

[2019-11-30 10:47] weekly-digest[bot] opened #299 "Weekly Digest (23 November, 2019 - 30 November, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there was 1 commit.
:hammer_and_wrench: [Release YCM 0.11.0](https://github.com/robotology/ycm/commit/a1fc6ad0d76ae18c8cce638c72516dcf1d7665cc) by

[2019-11-30 11:37] #298 closed

[2019-12-04 12:13] traversaro opened #301 "Non-offline build of YCM is failing"
See https://github.com/robotology/robotology-superbuild/issues/312  and https://github.com/robotology/ycm/pull/300 .

[2019-12-07 10:47] weekly-digest[bot] opened #302 "Weekly Digest (30 November, 2019 - 7 December, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #301 [Non-offline build of YCM is failing ](https://github.com/robotology/ycm/issues/301), by [traversaro](https://github.com/traversaro)
## CLOSED ISSUES
:heart: #300

[2019-12-09 08:07] #299 closed

[2019-12-14 10:47] weekly-digest[bot] opened #304 "Weekly Digest (7 December, 2019 - 14 December, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #303 [Change eigen3.cmake to use GitLab repo](https://github.com/robotology/ycm/pull/303), by [traversaro](https://github.com/traversaro)

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merge

[2019-12-17 07:42] #302 closed

[2019-12-17 11:05] traversaro commented on #252
Just to clarify: the main problem of this option is that a superbuild will find its owns installed project, as in the case of `YCM_EP_INSTALL_DIR`, see https://github.com/robotology/ycm/pull/289 and the discussion in https://github.com/robotology/robotology-superbuild/pull/316 . As in that case, probably it would make sense that the `install` target should only be used for compile and install once

[2019-12-19 00:01] mbeutel opened #305 "Could the default `INSTALL_DESTINATION` path be unified?"
Currently `install_basic_package_files()` chooses a platform-dependent location for the CMake config file:

https://github.com/robotology/ycm/blob/bf613de66f2eb02751c8c0c863f32ea0afa173dd/modules/InstallBasicPackageFiles.cmake#L352..L360

[code]

This is presumably done to follow what the CMake documentation calls "Windows convention" and "Unix convention", cf. https://cmake.org/cmake/help/latest/

[2019-12-20 17:23] traversaro commented on #305
Short answer: now that YCM requires CMake 3.12, it totally make sense to do the change that you propose, so feel free to propose a PR with the modifications in the issue.

Long answer:

Before 3.7, this double logic was necessary to make sure that, when using the default `CMAKE_INSTALL_PREFIX` value in Windows, the installed packages were found without further user intervention (such as setting th

[2019-12-20 18:00] mbeutel commented on #305
Thank you; these links clear up a lot of things.

So, following the guidance in https://gitlab.kitware.com/cmake/cmake/issues/18453#note_470670, I guess the following change would be appropriate:

[code]

A corresponding Vcpkg portfile would then read either

[code]

or

[code]

Do you consider using `${CMAKE_INSTALL_DATADIR}` an unnecessary indirection, given that `find_package()` is specified to

[2019-12-21 10:47] weekly-digest[bot] opened #306 "Weekly Digest (14 December, 2019 - 21 December, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #305 [Could the default `INSTALL_DESTINATION` path be unified?](https://github.com/robotology/ycm/issues/305), by [mbeutel](https://github.com/mbeutel)
## NOISY ISSUE
:speaker: #305 [Could the default `INSTALL_DESTINA

[2019-12-23 09:25] traversaro commented on #305
I personally do not think that it is an unnecessary indirection, as I think the idea is that with the default values everything is automatically found, but then if a user decides to modify `CMAKE_INSTALL_DATADIR` (or `CMAKE_INSTALL_LIBDIR`) then it is up to him/her to make sure that the library is correctly found.

Thanks!

[2019-12-23 09:31] drdanz commented on #305
100% in favour of this change, I've already unified the path in YARP, and I was planning to do this in YCM as well, therefore this change is very welcome! :smile:

+1 also for `${CMAKE_INSTALL_DATADIR}` instead of `share` for `ARCH_INDEPENDENT` packages

[2019-12-24 08:21] #304 closed

[2019-12-28 10:36] weekly-digest[bot] opened #307 "Weekly Digest (21 December, 2019 - 28 December, 2019)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## MERGED PULL REQUEST
Last week, 1 pull request was merged.
:purple_heart: #303 [Change eigen3.cmake to use GitLab repo](https://github.com/robotology/ycm/pull/303), by [travers

[2020-01-04 10:36] weekly-digest[bot] opened #310 "Weekly Digest (28 December, 2019 - 4 January, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #309 [Remove obsolete code for CMake older than 3.9](https://github.com/robotology/ycm/pull/309), by [mbeutel](https://github.com/mbeutel)
:green_heart: #308 [Unify def

[2020-01-07 10:50] #307 closed

[2020-01-07 10:50] #310 closed

[2020-01-07 10:52] #305 closed

[2020-01-07 10:53] drdanz commented on #305
Thanks @mbeutel

[2020-01-11 10:36] weekly-digest[bot] opened #311 "Weekly Digest (4 January, 2020 - 11 January, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 2 pull requests were created, updated or merged.
## MERGED PULL REQUEST
Last week, 2 pull requests were merged.
:purple_heart: #309 [Remove obsolete code for CMake older than 3.9](https://github.com/robotology/ycm/pull/309),

[2020-01-13 07:54] #306 closed

[2020-01-18 10:37] weekly-digest[bot] opened #312 "Weekly Digest (11 January, 2020 - 18 January, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2020-01-18 11:56] #311 closed

[2020-01-25 07:51] weekly-digest[bot] opened #313 "Weekly Digest (18 January, 2020 - 25 January, 2020)"
Here's the Weekly Digest for [robotology/ycm](https://github.com/robotology/ycm):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user has starred this repository.

# COMMITS
This week, there have been no commits.

[2020-01-27 21:26] #312 closed

[2020-01-29 16:27] mbeutel commented on #262
Unfortunately that change made behavior inconsistent. The new behavior of `export(PACKAGE)` is implemented in CMake 3.15 and later, but it isn't *active* unless the consuming project also sets the policy version to 3.15 or later (which e.g. `cmake_minimum_required(VERSION 3.15)` implicitly does).

As an example, when using CMake 3.15 or later, the following program

[code]

will register the build

[2020-02-01 10:37] weekly-digest[bot] opened #315 "Weekly Digest (25 January, 2020 - 1 February, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #314 [Fix CMake version dependent inconsistency](https://github.com/robotology/ycm/pull/314), by [mbeutel](https://github.com/mbeutel)

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.

[2020-02-02 20:07] mbeutel opened #317 "Add package dependency checking to `install_basic_package_files()`"
`install_basic_package_files()` makes package installation a breeze by saving us from writing pages of boilerplate code. Yet I think we all agree that it is a crutch: partly because it ought to be provided by CMake itself (cf. [cmake/#18634, "Simplify exporting of CMake Packages"](https://gitlab.kitware.com/cmake/cmake/issues/18634)), but also because it necessitates duplicating the package depend

[2020-02-02 20:51] traversaro commented on #317
Fyi @GiulioRomualdi

[2020-02-02 21:39] traversaro commented on #317
I did not review this in detail, but thanks, this functionality is quite useful  and  would avoided us several  problems for exaple the one listed in https://github.com/robotology/unicycle-footstep-planner/issues/33 .

Just to understand, why you don't use the `BUILD_TESTING` variable for this?

[2020-02-02 21:40] traversaro commented on #317
I am a bit afraid (even if I am not sure what failure could cause) in silently adding tests in a CMake function call.  Do you think it could make sense to make this opt-in instead of opt-out?

[2020-02-03 07:40] #313 closed

[2020-02-03 11:03] mbeutel commented on #317
`BUILD_TESTING` is defined by the [CTest](https://cmake.org/cmake/help/latest/module/CTest.html#module:CTest) module, which is useful but not mandatory for unit tests in CMake. Many projects define tests with `enable_testing()` and `add_test()` depending on some custom build option ([example](https://github.com/gsl-lite/gsl-lite/blob/master/CMakeLists.txt#L41..L44)) and without including CTest; fo

[2020-02-03 17:43] drdanz commented on #317
I haven't seen the code yet (sorry, I'm reading this from the phone), but having an easy way to test a package and it's targets seems like a very good idea (also it would help a lot in creating unit tests for this module) , but in my opinion it goes beyond the scope of `install_basic_package_files`, what about making a separate module? Something like `add_package_test` maybe?

I'll just dump a few

[2020-02-03 18:31] mbeutel commented on #317
Thank you both for the feedback, much appreciated.

This would boil down to
[code]
i.e. we would have an optional extra step just for checking that the arguments to `install_basic_package_files()` were consistent.

You mean like this?
[code]

That would indeed break my check. But is this really a sensible scenario? It would also lead to inconsistency; consuming the targets of *Foo* through `add_su

[2020-02-03 19:53] mbeutel commented on #317
That should no longer be a concern:

(https://gitlab.kitware.com/cmake/cmake/issues/20301#note_691768)

[2020-02-06 10:42] traversaro commented on #301
Fixed by https://github.com/robotology/ycm/pull/300 and https://github.com/robotology/ycm/pull/303 .

[2020-02-06 10:42] #301 closed

[2020-02-07 13:59] drdanz commented on #317
But that would allow to do just the `validation_thing_args` if you create the package in some other way...
Also eventually, even if I don't think this is a good thing you can have a separate module and call that module inside `install_basic_package_files()`

------

Unfortunately it is, see  [YARP_eigen](https://github.com/robotology/yarp/tree/master/src/libYARP_eigen) and [YARP_cv](https://github

[2020-02-07 18:50] mbeutel commented on #317
So a separate module it is. I'll submit a new PR.

Perhaps like this?

[code]

Then I could say

[code]

to generate a config-only test that just checks whether all CMake targets are available (i.e. what my current PR does, but under a dedicated test named, say, `check_package_dependencies-Foo`), or

[code]

to additionally generate code that `#include`s \<foo/foo.hpp\> and to build the target as

[2020-02-07 20:16] drdanz commented on #317
Looks good, but I just had an idea, what do you think about using the `PUBLIC_HEADERS` property instead of the `HEADER` option to test additionally that all the headers are self contained?

[2020-02-08 01:28] weekly-digest[bot] opened #318 "Weekly Digest (1 February, 2020 - 8 February, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #317 [Add package dependency checking to `install_basic_package_files()`](https://github.com/robotology/ycm/issues/317), by [mbeutel](https://github.com/mbeutel)
:green

[2020-02-09 15:16] mbeutel commented on #317
What would that test entail? Would it just test that a header includes all its dependencies, i.e. tat compiling a source file consisting of `#include <the/header>` succeeds? Because I don't think this is related to packaging; regular unit tests should cover this.

I've thought about `add_package_test()` a bit more, and I'm not sure I see any benefits in testing headers. Let's talk about some poten

[2020-02-15 01:28] weekly-digest[bot] opened #319 "Weekly Digest (8 February, 2020 - 15 February, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

 - -

[2020-02-15 12:51] #318 closed

[2020-02-22 01:28] weekly-digest[bot] opened #321 "Weekly Digest (15 February, 2020 - 22 February, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #320 [Remove NO_DEFAULT_PATH from ESDCANAPI find_library](https://github.com/robotology/ycm/pull/320), by [traversaro](https://github.com/traversaro)
## NOISY ISSUE
:speaker: #320 [Remove NO_DEFAULT_PATH from ESDCANAPI fi

[2020-02-24 21:14] traversaro opened #322 "Add a way to control default value of USE_SYSTEM_<package> variables"
As is it now,  the `find_or_build_package` CMake function defines an option `USE_SYSTEM_<package>` in https://github.com/robotology/ycm/blob/597f2b1e800d8381b5e14a33274cf03850365aa4/modules/FindOrBuildPackage.cmake#L174 when a package that  needs to be built by the superbuild is found also  in the system, to let the superbuild users the option to avoid use the system package, and use instead the s

[2020-02-24 22:20] drdanz commented on #322
So just to clarify, the use case would be something like `build_or_find_package()` (i.e. build by default but, if the package is found, have an option to use the system package instead), or `build_package` (i.e. always build the package)?

[2020-02-24 22:22] drdanz commented on #322
Related: #11

[2020-02-26 23:43] traversaro commented on #322
Exactly, I think this is the use case we are interested, to always let the user use an external package if he knows what he is doing, and he knows that the external package version is compatible (it has all the necessary options, etc etc). I do not think it is useful to remove this freedom with a `build_package` command.

This is also meant to mitigate the recurring problems  such as https://githu

[2020-02-29 01:28] weekly-digest[bot] opened #323 "Weekly Digest (22 February, 2020 - 29 February, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #322 [Add a way to control default value of  USE_SYSTEM_<package> variables](https://github.com/robotology/ycm/issues/322), by [traversaro](https://github.com/traversaro)
## NOISY ISSUE
:speaker: #322 [Add a way to co

[2020-03-04 11:20] #315 closed

[2020-03-04 11:20] #319 closed

[2020-03-04 11:20] #321 closed

[2020-03-05 12:30] traversaro opened #324 "Online documentation is down"
The website http://robotology.github.io/ycm that is referenced in the README is currently down.

Thanks @simeonedussoni for reporting this problem.

[2020-03-06 12:46] drdanz commented on #324
Fixed.
I think the github-action is not working properly, I removed it for now...

[2020-03-06 12:57] #324 closed

[2020-03-24 14:57] marco-monforte opened #326 "Cannot download SelectLibraryConfigurations.cmake"
Hi guys,

I'm trying to compile YCM on my laptop with Ubuntu 18, but I get the following error:

    [  1%] Files from modules installed in CMake build directory
    [  1%] Built target modules
    [  3%] Files from find-modules installed in CMake build directory
    [  3%] Built target find-modules
    [  5%] Downloading file Modules/SelectLibraryConfigurations.cmake from CMake git repository (re

[2020-03-24 15:10] traversaro commented on #326
Which CMake are you using? This is the typical error that you get if you try to download from an https URL with a CMake compiled from source with SSL not enabled. If you want to use a custom CMake, I suggest to rely on official binaries provided by Kitware as documented in https://github.com/robotology/QA/issues/364 and https://github.com/robotology/robotology-superbuild#linux . If for any reason

[2020-03-24 17:02] marco-monforte commented on #326
Thanks, Silvio! It solved the problem.

[2020-03-24 17:02] #326 closed

[2020-03-25 07:50] traversaro opened #327 "New patch release of YCM 0.11?"
The ycm-0.11 received some improvements in the last months, including critical bugfix such as https://github.com/robotology/ycm/pull/300 and https://github.com/robotology/ycm/pull/303, without which YCM does not build.
There is any plan to do a new patch release of YCM 0.11 (ideally after https://github.com/robotology/ycm/pull/325 is merged)? Thanks!

[2020-03-25 09:20] drdanz commented on #327
Sure, I will take care of this in the next few days

[2020-03-26 09:42] drdanz commented on #326
Unfortunately, at the moment it is not possible to check if CMake was built with ssl support, therefore the error is horrible, I just opened an issue upstream

https://gitlab.kitware.com/cmake/cmake/-/issues/20507

[2020-03-26 09:48] #323 closed

[2020-03-27 13:47] drdanz commented on #327
YCM 0.11.1 released, packages are on the way

[2020-03-27 13:48] #327 closed

[2020-03-27 14:05] traversaro commented on #327
Thanks!

[2020-04-05 14:29] traversaro commented on #120
The Windows binary dependencies provided by https://github.com/robotology/robotology-superbuild-dependencies-vcpkg now install correctly the `Eigen3Config.cmake` , so we may go ahead and remove the  `FindEigen3.cmake` from the next YCM superbuild release.

[2020-04-17 02:05] #322 closed

[2020-04-25 06:44] weekly-digest[bot] opened #335 "Weekly Digest (18 April, 2020 - 25 April, 2020)"
Here's the **Weekly Digest** for [*robotology/ycm*](https://github.com/robotology/ycm):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #334 [Fix FindOctave for Octave 5](https://github.com/robotology/ycm/pull/334), by [traversaro](https://github.com/traversaro)
:green_heart: #333 [Fix FindOctave.cmake